{%- assign product = all_products[settings.featured_product] -%}
{% assign variant_id = product.variants.first.id %}
{% assign found_title = false %}
{% assign gift_value = settings.gift_value | times: 100 %}
{% assign cart_total = cart.total_price %}
{% assign gift_value_left = gift_value | minus: cart_total %}
{% assign gift_value_left_math = gift_value_left | times: 10 %}
{% assign cart_promo_text = settings.cart_promo_text %}

{% for item in cart.items %}
<script>
  console.log("item.variant.title: {{ item.variant.title }} | item.variant.id: {{ item.variant.id }} | variant_id: {{ variant_id }} | product.title: {{ product.title }} | product.id: {{ product.id }} | {{ gift_value_left | divided_by: 10 }} | gift_value_left_math: {{ gift_value_left_math }} | gift_value_left: {{ gift_value_left }}  {{ gift_value }} {{ cart_total }}");
</script>
{% if item.variant.id == variant_id  %}
  {% assign found_title = true %}
{% endif %}
{% endfor %}


{% comment %} START / Promo text {% endcomment %} 
{% if cart_promo_text != blank and settings.active_sale == blank %}
  <div class="alert alert--success alert--is-visible js-alert margin-y-xs" role="alert">
    <div class="flex items-center">
      <i class="icon--sm material-icons-outlined margin-right-xxs">card_giftcard</i>
      <span class="money text-sm">{{ cart_promo_text }}</span>
    </div>
  </div>
{% endif %}

<script>
  console.log("cart_promo_text: {{ cart_promo_text }}");
</script>
{% comment %} END / Promo text {% endcomment %} 


{% if settings.active_sale %}
<div class="alert alert--success alert--is-visible js-alert margin-y-xs" role="alert">
  <div class="flex items-center">
    <i class="icon--sm material-icons-outlined margin-right-xxs">card_giftcard</i>
    <span class="money js-cart_gift text-sm" data-product="{{ product.title }}">
      {% if gift_value_left > 0 %}
      Free {{ product.title }} on orders ${{ settings.gift_value | divided_by: 10 }}+ <br><a href='/collections/todays-deals' class='color-success-dark'>Add {{ gift_value_left | money }} to unlock your free gift ➞</a>
      {% else %}
        You've unlocked a free {{ product.title }}! 
        {% if found_title == false %}
        <br>(Refresh the page if it doesn't appear in your cart)
        {% endif %}
      {% endif %}
    </span>
  </div>
</div>

  <script>
    console.log("variant_id: {{ variant_id }} | variant_title: {{ variant_title }} | product.title: {{ product.title }}");
  </script>
  {% unless cart.item_count == 0 or product.variants.first.available == false %}
    {% if gift_value_left < 0 and found_title == false %}
      <script>
        $( document ).ready(function() {
          var variantId = {{ variant_id }};
          jQuery.post('/cart/add.js', {
            quantity: 1,
            id: variantId
          });
          setTimeout( 
            function() {
              window.location.reload(false);
            }, 1000);
          });
      </script>
    {% endif %} 
  {% endunless %}
{% endif %}