{% case media.media_type %}
  {% when 'image' %}
    {% if section.settings.enable_product_lightbox %}
      <a  href="{{ media | img_url: '2000x2000' }}"
          class="lightbox"
          data-fancybox="{{ product.id }}"
          rel="product-lightbox">
    {% endif %}
    {% if image_width == 'full' %}
      <div class="image__container" style="max-width: {{media.width}}">
        <img
          src="{{ media | img_url: '1200x1200'}}"
          alt="{{ media.alt }}"
          class=" lazyload {{ settings.image_loading_style }}"
          data-index="{{ forloop.index0 }}"
          data-image-id="{{ media.id }}"
        />      
      </div>
    {% else %}
      <div class="image__container" style="max-width: {{media.width}}" >
      <meta itemprop="image" content="{{ product.featured_image | img_url: '600x' }}"/>
        <img
          src="{{ media | img_url: '100x100'}}"
          alt="{{ media.alt }}"
          class="transition--blur-up lazyload {{ settings.image_loading_style }}"
          data-index="{{ forloop.index0 }}"
          data-image-id="{{ media.id }}"
          data-sizes="{% if section.settings.enable_product_lightbox %}100vw{% else %}auto{% endif %}"
          data-aspectratio="{{ media.height }}/{{ media.width }}"
          data-src="{{ media | img_url: '600x600'}}"
          srcset="  {{ media | img_url: '200x200'}} 200w,
                    {{ media | img_url: '400x400'}} 400w,
                    {{ media | img_url: '600x600'}} 600w,
                    {{ media | img_url: '800x800'}} 800w,
                    {{ media | img_url: '1200x1200'}} 1200w,
                    {{ media | img_url: '2000x2000'}} 2000w"
        />    
      </div>
    {% endif %}
    {% if section.settings.enable_product_lightbox %}
      </a>
    {% endif %}
  {% when 'external_video' %}
    <div id="play" class="video-wrapper" data-media-id="{{ media.id }}">
      <div class="btn-wrap">
          <div class="play-btn">
            <div class="play-icon"></div>
          </div>
          <div class="play-btn-pulse"></div>
      </div>
      <div class='overlay-bottom'><p class="text-bold text-md color-white">See how it works</p></div>
      <img loading="lazy"  id="video-cover" src='{{ product.featured_media | img_url: '600x600' }}' alt="Video title">
      {{ media | external_video_tag:  id: "player"}}
    </div>
    
  {% when 'video' %}
    <div class="product-single__media" data-media-id="{{ media.id }}">
      
      {{ media | video_tag: controls: false, loop: true, autoplay: true, image_size: "1024x" }}
    </div>
  {% when 'model' %}
    <div class="product-single__media" style="padding-top: 100%" data-media-id="{{ media.id }}">
      {{ media | model_viewer_tag }}
    </div>
  {% else %}
    <div class="product-single__media" style="padding-top: 100%;" data-media-id="{{ media.id }}">
      {{ media | media_tag }}
    </div>
{% endcase %}