


<div class="banner center page_banner intro_banner width-100 mb25 mobile--true">
    <div class="width-1-1 split-banner split-banner--img right">
        {{ product.metafields.custom_fields["product_intro2_content_img"] }}
    </div>
      
    <div class="width-1-1 split-banner split-banner--content right grape pattern-map {{ product.metafields.custom_fields["product_intro_content_color"] }}">
        <div id="bc-sf-filter-collection-description" class="section clearfix intro_description text-lg text-light">
            <h1 id="bc-sf-filter-collection-title text-light-sub"> {{ product.metafields.custom_fields["product_intro2_content_title"] }}</h1>
            <p class="text-light">
            {{ product.metafields.custom_fields["product_intro2_content_text"] }}
            </p>
        </div>
    </div>
</div>




<div class="banner center page_banner intro_banner width-100 mb25 mobile--false">
    <div class="width-1-2 split-banner split-banner--img left">
        {{ product.metafields.custom_fields["product_intro2_content_img"] }}
    </div>
      
    <div class="width-1-2 split-banner split-banner--content right pattern-map flex-left {{ product.metafields.custom_fields["product_intro_content_color"] }}">
        <div id="bc-sf-filter-collection-description" class="section clearfix intro_description text-lg text-light">
            <h1 id="bc-sf-filter-collection-title text-light-sub"> {{ product.metafields.custom_fields["product_intro2_content_title"] }}</h1>
            <p class="text-light">
            {{ product.metafields.custom_fields["product_intro2_content_text"] }}
            </p>
        </div>
    </div>
</div>