{% if page.metafields.custom_fields["cards"] != blank %}
  {% assign separator = "|###|" %}
    {% assign card_type_array = page.metafields.custom_fields["card_type"] | split: separator %}
    {% assign card_category_array = page.metafields.custom_fields["card_category"] | split: separator %}
    {% assign card_title_array = page.metafields.custom_fields["card_title"] | split: separator %}
    {% assign card_image_array = page.metafields.custom_fields["card_image"] | split: separator %}
    {% assign card_info_array = page.metafields.custom_fields["card_info"] | split: separator %}
    {% assign card_link_array = page.metafields.custom_fields["card_link"] | split: separator %}
    {% assign fc_keys = page.metafields.custom_fields["cards"] | split: "," %}
    {% assign fc_keys = page.metafields.custom_fields["cards"] | split: "," %}
    
    <div class="flex-100">
    {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
    <article class="article-tile article-tile--lg fc-index--{{ index }} width-1-1 mb10 cards--{{ card_type_array[index] }} mobile--true">
                    <a href="{{ card_link_array[index] }}" target="_blank" itemprop="url">
                        <div class="article-media lazyload" style="background-image: url('{{ card_image_array[index] }};" title="{{ alt_text | escape }}">
                        </div>
                        <div class="article-tile-content article-tile-content--lg">
                        <div class="article-content">
                         
                            <h4 class="base-BodyTitle article-title">
                            {{ card_title_array[index] }}
                            </h4>
                            <div class="article-blurb clr-sub">{{ card_info_array[index] }}</div>
                        </div>
                        </div>
                    </a>
                </article> 

            <article class="article-tile article-tile--lg fc-index--{{ index }} width-1-3-m10 m10 cards--{{ card_type_array[index] }} mobile--false">
                <a href="{{ card_link_array[index] }}" target="_blank" itemprop="url">
                    <div class="article-media lazyload" style="background-image: url('{{ card_image_array[index] }};" title="{{ alt_text | escape }}">
                    </div>
                    <div class="article-tile-content article-tile-content--lg">
                    <div class="article-content">
                        
                        <h4 class="base-BodyTitle article-title">
                        {{ card_title_array[index] }}
                        </h4>
                        <div class="article-blurb clr-sub">{{ card_info_array[index] }}</div>
                    </div>
                    </div>
                </a>
            </article> 
    {% endfor %}
    </div>
{% endif %}
