{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
<div class="gallery-wrap js-product-page-gallery clearfix
            gallery-arrows--{{section.settings.gallery_arrows}}
            {% if section.settings.product_thumbs %} {{ section.settings.thumbnail_position }} {% endif %}
            ">
  <div class="product_gallery js-product-gallery product-{{ product.id }}-gallery
              {% if product.images.size > 1 %} multi-image {% endif %}
              {% if product.images.size <= 1 %} single-image {% endif %}
              transparentBackground--{{settings.slideshow_button_style}}
              slideshow_animation--{{ section.settings.slideshow_animation }}
              popup-enabled--{{ section.settings.enable_product_lightbox }}"
      data-zoom="{{ section.settings.activate_zoom }}"
      data-autoplay="{{ section.settings.activate_autoplay }}" other="reveal-fx reveal-fx--translate-right">

    {% for media in product.media limit:6%}
      <div class="gallery-cell" data-thumb="{{ image_large }}" data-title="{% if media.media_type == "video" or media.media_type == "external_video" %}{{ product.title }}{% else %}{{ media.alt | escape }}{% endif %}" data-image-height="{{ media.height }}px" data-image-width="{{ media.width }}px">
        {% include 'media' %}
      </div>
    {% endfor %}
  </div>
{% if section.settings.product_thumbs %}
  {% if product.images.size > 1 and image_width != 'full' %}
    <div class="product_gallery_nav product_gallery_nav--left product-{{ product.id }}-gallery-nav">
      {% for media in product.media limit:6%}
        <div class="gallery-cell" data-title="{{ media.alt | escape }}">

        {% if media.media_type == "external_video" %}
          <div class="play-btn-cell position-absolute">
            {% include 'svg' with 'play-btn' %}
          </div>
        {% endif %}
          <img loading="lazy"  
            src="{{ media | img_url: '100x100'}}"
            alt="{{ media.alt }}"
            data-index="{{ forloop.index0 }}"
            data-image-id="{{ media.id }}"
            data-featured-image="{{featured_image.id}}"
          />
        </div>
      {% endfor %}
    </div> 
  {% endif %}
{% endif %}
</div>