{% assign product_found = false %}
{% assign skip = false %}
{% assign collection_group = products | map: 'id' %}
{% assign collection_group_thumb = collection_group | append : 'thumb' %}
{% assign collection_group_mobile = collection_group | append : 'mobile' %}

{% if template contains 'collection' %}
  {% assign matrixType = 'collection-matrix' %}
{% elsif template contains 'search' %}
  {% assign matrixType = 'search-matrix' %}
{% endif %}

{% liquid
if render_homepage

comment
  ## Check for related products and increase limit by one (to offset the
  ## currently selected product that is removed from the product loop)
endcomment
if related_products == true
  assign limit = limit | plus: 0
  assign loop_limit = limit | plus: 1
else
  assign limit = limit | plus: 0
  assign loop_limit = limit | plus: 0
endif

if per_slide != blank
  assign visible_products = per_slide
else
  if section.settings.products_per != blank
    assign visible_products = section.settings.products_per | plus: 0
  else
    assign visible_products = block.settings.products_per | plus: 0
  endif
endif

if template contains 'product'
  if limit <= visible_products
    assign products_length = limit
  else
    assign products_length = products.length | minus: 1
  endif
elsif featured_collection
  assign products_length = collections[featured_collection].products.length
else
  assign products_length = products.length
endif

endif
%}

{%- capture product_loop_div_attr -%}
{%- if render_homepage -%}
class="slider-gallery products-slider products-length-{{ products_length }} transparentBackground--{{settings.slideshow_button_style}}"
      data-products-per-slide="{{ visible_products }}"
      data-products-limit="{{ limit }}"
      data-products-available="{{ products_length }}"
{%- else -%}
itemtype="http://schema.org/ItemList" class="product-list {{ matrixType }} clearfix equal-columns--clear equal-columns--outside-trim"
{%- endif -%}
{%- endcapture -%}

<div {{ product_loop_div_attr }}>
  {% for product in products limit: limit %}
    {% if product.id == skip_product.id or skip == true %}
      {% assign product_found = true %} 
    {% else %}
      {% if forloop.rindex0 == 0 and product_found == false and forloop.length != products.count and template != 'search' and template != 'index' and type != 'block' %}
        {% assign skip = true %}
      {% else %}

        {% include 'product-thumbnail', sidebar: sidebar %}

      {% endif %}
    {% endif %}
  {% endfor %}
  {% if template contains 'collection' %}
    {% if settings.pagination_type == 'load_more' or settings.pagination_type == 'infinite_scroll' %}
      {% if paginate.next.url %}
        <span class="js-load-more load-more">
          <a href="{{ paginate.next.url }}" data-no-instant class="load-more__btn action_button continue-button">
            {% if template contains 'collection' %}
              {{ 'collections.general.load_more' | t }}
            {% elsif template contains 'search' %}
              {{ 'general.search.load_more' | t }}
            {% endif %}
          </a>
        </span>
      {% endif %}
    {% endif %}
  {% elsif template contains 'search' %}
    {% if settings.search_pagination_type == 'load_more' or settings.search_pagination_type == 'infinite_scroll' %} 
      {% if paginate.next.url %}
        <span class="js-load-more load-more">
          <a href="{{ paginate.next.url }}" data-no-instant class="load-more__btn action_button continue-button">
            {% if template contains 'collection' %}
              {{ 'collections.general.load_more' | t }}
            {% elsif template contains 'search' %}
              {{ 'general.search.load_more' | t }}
            {% endif %}
          </a>
        </span>
      {% endif %}
    {% endif %}
  {% endif %}
</div>
{% unless render_homepage %}<div class="load-more__icon"></div>{% endunless %}