<div class="product-details">
    <h4 class="article-title base-BodyTitle" itemprop="name">{{ product.title }}</h4>
    <h6 class="article-type" itemprop="name">{{ product.type }}</h6>
  

    <section class="flex">
        {% if collection_handles contains 'coming-soon' %}
        <span class="modal_price">{{ 'collections.general.coming_soon' | t }}</span>
        {% else %}
        <span class="price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
            {% if product.available %}
                {% if product.price_min > 0 %}
                <span class="money">{{ product.price_min | money }}</span>
                {% else %}
                {{ settings.free_price_text }}
                {% endif %}
            {% else %}
            <span class="sold_out">{{ 'products.product.sold_out' | t }}</span>
            {% endif %}
            {% if product.compare_at_price_max > product.price %}
            <span class="was_price">
                <span class="money">{{ product.compare_at_price_min | money }}</span>
            </span>
            {% endif %}
        </span>
    
        {% if product.available %}
        {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
            <span class="thumbnail_banner violator--discount">Save ${{ product.compare_at_price_min | minus: product.price_min | money_without_currency }}</span>
        {% else %}
            <span class="article-violator"></span>
        {% endif %}
        {% endif %}
        {% endif %}
    </section>
</div>
  
  
