{% capture content %}
<!DOCTYPE html>
<html class="js" lang="{{ shop.locale }}">
  <!-- 
    Site by latimer.me 🥰  
  -->
<head>
  {% include 'orbislabs_sitemap_noindex' %}
  {% include 'shop-sheriff-amp' %}
  {% include 'ninjacoderz_sitemap_noindex' %}
  <!----------- META ----------->
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">
    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#0b225a">
    {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}{% endif %}
    
    {% comment %} Prevent apps from loading on /home {% endcomment %}
    {% if template contains "index" %}   
    <script>
        YETT_BLACKLIST = [
        /stamped/,
        /sellup.herokuapp.com/,
        /static.zdassets.com/,
        /zdassets.com/,
        /optin.savemysales.co/,
        /cdn.pushowl.com/,
        /connect.facebook.net/,
        /cdn1.affirm.com/,
        /mlveda-shopifyapps.s3.amazonaws.com/,
        /app.123formbuilder.com/,
        ]
    </script>

    <script src="//cdn.shopify.com/s/files/1/0062/5318/3045/t/2/assets/yett.js" type="text/javascript"></script>
    {% endif %}



    <title>
      {% if template contains "index" %}{{ page_title }}{% else %}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}
    </title>
    <!-- <link rel="preconnect dns-prefetch" href="https://fonts.shopifycdn.com" /> -->
    <link rel="preconnect dns-prefetch" href="https://cdn.shopify.com" />
    <link rel="preconnect dns-prefetch" href="https://v.shopify.com" />
    <link rel="preconnect dns-prefetch" href="https://cdn.shopifycloud.com" />
    <link rel="canonical" href="{{ canonical_url }}" />
    {% if settings.enable_shopify_review_comments %}
      <link rel="preconnect dns-prefetch" href="https://productreviews.shopifycdn.com" />
    {% endif %}
  <!----------- End META -----------> 
  

    <!----------- STYLE ----------->
      {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
      {{ 'main.css' | asset_url | stylesheet_tag }}
      {{ 'fonts.scss.css' | asset_url | stylesheet_tag }}
      

      {% if template contains 'product' %}
        <!-- Fancybox / Gallery Lightbox -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.css">
      {% endif %}


      <!-- Icons -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" as="font" type="text/css" >
    <!----------- End STYLE ----------->

    
    <!----------- GOOGLE ----------->
      <meta charset="utf-8">
      <meta http-equiv="cleartype" content="on">
      <meta name="robots" content="index,follow">
      <meta name="p:domain_verify" content="374cefa258eaa52fdf33dff92fc7e19f"/>
      <!-- Google Verification -->    
      <meta name="google-site-verification" content="MqNDOMEsgaRJnIU89KQtsl77mryAlUCmuojDsUoA0sk" />
      <meta name="google-site-verification" content="N7DY-MskUyNlFN88gHeuceAF4zSbRO3mos9qzhCdhA8" />  
      <meta name="google-site-verification" content="ScjGgurM8TGo-6bf1C0wj8Zm1YbDMiMrOhQ64B6ZpTE" />  
      <!-- Google Merchant Verification 8.20.19 -->
      <meta name="google-site-verification" content="c-5yt-9GO0k92MBhOsolW8ylHUVkNMvVG_N0rqNQlUY" />  
      
      <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=AW-958591666"></script>Global site tag (gtag.js) - Google Ads: 958591666 -->
      <!--<script src="https://www.googleoptimize.com/optimize.js?id=GTM-TQBQQR4"></script> Google Optimize (gtag.js) - Google Ads: 958591666 -->
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-958591666');// AdWords ?
        gtag('config', 'UA-43402130-1');// Analytics
        gtag('config', 'GTM-MGR467V'); // Google Tag Manager
      </script>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MGR467V');</script>
      <!-- End Google Tag Manager -->    


  <!-- Bing Verification -->	
  <meta name="msvalidate.01" content="C9498BD5F84A663C4AFCC7D08EDF5C4B" />    
  <!----------- End GOOGLE ----------->



  <script src="{{ 'jquery.min.js' | asset_url }}"></script>
        
<!----------- APPS 1 ----------->
<!-- Start of gosun Zendesk Widget script -->
<script type="text/javascript" id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=cd4d1957-8f5a-4206-9d19-61ccd84c0dd6"> </script>
<!-- End of gosun Zendesk Widget script -->


  <!-- Bugsnag -->
  <!-- <script defer src="//d2wy8f7a9ursnm.cloudfront.net/v7/bugsnag.min.js"></script>
  <script>Bugsnag.start({ apiKey: '5279bbabd5ce9add71c1cd5b8f4810b5' })</script> -->

  <!-- Klaviyo -->
  <script type="text/javascript" async 
  src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=hhNY44&shop=patricksherwin.myshopify.com"></script>
      
  <!-- Hotjar Tracking Code for gosun.co -->
  <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1783414,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
    
  {% unless template contains 'index' %}
    {% if template contains 'product' or 'cart' or 'collection' %}
    <!-- Affirm -->
    <script defer >
        _affirm_config = {
          public_api_key:  "S9J7IDC3Q5NEL25G",
          script:          "https://cdn1.affirm.com/js/v2/affirm.js"
        };
        (function(l,g,m,e,a,f,b){var d,c=l[m]||{},h=document.createElement(f),n=document.getElementsByTagName(f)[0],k=function(a,b,c){return function(){a[b]._.push([c,arguments])}};c[e]=k(c,e,"set");d=c[e];c[a]={};c[a]._=[];d._=[];c[a][b]=k(c,a,b);a=0;for(b="set add save post open empty reset on off trigger ready setProduct".split(" ");a<b.length;a++)d[b[a]]=k(c,e,b[a]);a=0;for(b=["get","token","url","items"];a<b.length;a++)d[b[a]]=function(){};h.async=!0;h.src=g[f];n.parentNode.insertBefore(h,n);delete g[f];d(g);l[m]=c})(window,_affirm_config,"affirm","checkout","ui","script","ready");
        // Use your live public API Key and https://cdn1.affirm.com/js/v2/affirm.js script to point to Affirm production environment.
    </script>
    <!-- Currency Switcher -->
      <script defer >
        window.mlvedaShopCurrency = "{{ shop.currency }}";
        window.shopCurrency = "{{ shop.currency }}";
        window.supported_currencies = "{{ settings.mlvedaACS_supportedCurrencies }}";
      </script>

      <script defer src="{{ '_1_stamped.js' | asset_url }}"></script>
    {% endif %}
  {%  endunless %}







<!----------- End APPS 1 ----------->
    
  <script>
    window.lazySizesConfig = window.lazySizesConfig || {};
    lazySizesConfig.expand = 300;
    lazySizesConfig.loadHidden = false;
    /*! lazysizes - v4.1.4 */
    !function(a,b){var c=b(a,a.document);a.lazySizes=c,"object"==typeof module&&module.exports&&(module.exports=c)}(window,function(a,b){"use strict";if(b.getElementsByClassName){var c,d,e=b.documentElement,f=a.Date,g=a.HTMLPictureElement,h="addEventListener",i="getAttribute",j=a[h],k=a.setTimeout,l=a.requestAnimationFrame||k,m=a.requestIdleCallback,n=/^picture$/i,o=["load","error","lazyincluded","_lazyloaded"],p={},q=Array.prototype.forEach,r=function(a,b){return p[b]||(p[b]=new RegExp("(\\s|^)"+b+"(\\s|$)")),p[b].test(a[i]("class")||"")&&p[b]},s=function(a,b){r(a,b)||a.setAttribute("class",(a[i]("class")||"").trim()+" "+b)},t=function(a,b){var c;(c=r(a,b))&&a.setAttribute("class",(a[i]("class")||"").replace(c," "))},u=function(a,b,c){var d=c?h:"removeEventListener";c&&u(a,b),o.forEach(function(c){a[d](c,b)})},v=function(a,d,e,f,g){var h=b.createEvent("Event");return e||(e={}),e.instance=c,h.initEvent(d,!f,!g),h.detail=e,a.dispatchEvent(h),h},w=function(b,c){var e;!g&&(e=a.picturefill||d.pf)?(c&&c.src&&!b[i]("srcset")&&b.setAttribute("srcset",c.src),e({reevaluate:!0,elements:[b]})):c&&c.src&&(b.src=c.src)},x=function(a,b){return(getComputedStyle(a,null)||{})[b]},y=function(a,b,c){for(c=c||a.offsetWidth;c<d.minSize&&b&&!a._lazysizesWidth;)c=b.offsetWidth,b=b.parentNode;return c},z=function(){var a,c,d=[],e=[],f=d,g=function(){var b=f;for(f=d.length?e:d,a=!0,c=!1;b.length;)b.shift()();a=!1},h=function(d,e){a&&!e?d.apply(this,arguments):(f.push(d),c||(c=!0,(b.hidden?k:l)(g)))};return h._lsFlush=g,h}(),A=function(a,b){return b?function(){z(a)}:function(){var b=this,c=arguments;z(function(){a.apply(b,c)})}},B=function(a){var b,c=0,e=d.throttleDelay,g=d.ricTimeout,h=function(){b=!1,c=f.now(),a()},i=m&&g>49?function(){m(h,{timeout:g}),g!==d.ricTimeout&&(g=d.ricTimeout)}:A(function(){k(h)},!0);return function(a){var d;(a=a===!0)&&(g=33),b||(b=!0,d=e-(f.now()-c),0>d&&(d=0),a||9>d?i():k(i,d))}},C=function(a){var b,c,d=99,e=function(){b=null,a()},g=function(){var a=f.now()-c;d>a?k(g,d-a):(m||e)(e)};return function(){c=f.now(),b||(b=k(g,d))}};!function(){var b,c={lazyClass:"lazyload",loadedClass:"lazyloaded",loadingClass:"lazyloading",preloadClass:"lazypreload",errorClass:"lazyerror",autosizesClass:"lazyautosizes",srcAttr:"data-src",srcsetAttr:"data-srcset",sizesAttr:"data-sizes",minSize:40,customMedia:{},init:!0,expFactor:1.5,hFac:.8,loadMode:2,loadHidden:!0,ricTimeout:0,throttleDelay:125};d=a.lazySizesConfig||a.lazysizesConfig||{};for(b in c)b in d||(d[b]=c[b]);a.lazySizesConfig=d,k(function(){d.init&&F()})}();var D=function(){var g,l,m,o,p,y,D,F,G,H,I,J,K,L,M=/^img$/i,N=/^iframe$/i,O="onscroll"in a&&!/(gle|ing)bot/.test(navigator.userAgent),P=0,Q=0,R=0,S=-1,T=function(a){R--,a&&a.target&&u(a.target,T),(!a||0>R||!a.target)&&(R=0)},U=function(a,c){var d,f=a,g="hidden"==x(b.body,"visibility")||"hidden"!=x(a.parentNode,"visibility")&&"hidden"!=x(a,"visibility");for(F-=c,I+=c,G-=c,H+=c;g&&(f=f.offsetParent)&&f!=b.body&&f!=e;)g=(x(f,"opacity")||1)>0,g&&"visible"!=x(f,"overflow")&&(d=f.getBoundingClientRect(),g=H>d.left&&G<d.right&&I>d.top-1&&F<d.bottom+1);return g},V=function(){var a,f,h,j,k,m,n,p,q,r=c.elements;if((o=d.loadMode)&&8>R&&(a=r.length)){f=0,S++,null==K&&("expand"in d||(d.expand=e.clientHeight>500&&e.clientWidth>500?500:370),J=d.expand,K=J*d.expFactor),K>Q&&1>R&&S>2&&o>2&&!b.hidden?(Q=K,S=0):Q=o>1&&S>1&&6>R?J:P;for(;a>f;f++)if(r[f]&&!r[f]._lazyRace)if(O)if((p=r[f][i]("data-expand"))&&(m=1*p)||(m=Q),q!==m&&(y=innerWidth+m*L,D=innerHeight+m,n=-1*m,q=m),h=r[f].getBoundingClientRect(),(I=h.bottom)>=n&&(F=h.top)<=D&&(H=h.right)>=n*L&&(G=h.left)<=y&&(I||H||G||F)&&(d.loadHidden||"hidden"!=x(r[f],"visibility"))&&(l&&3>R&&!p&&(3>o||4>S)||U(r[f],m))){if(ba(r[f]),k=!0,R>9)break}else!k&&l&&!j&&4>R&&4>S&&o>2&&(g[0]||d.preloadAfterLoad)&&(g[0]||!p&&(I||H||G||F||"auto"!=r[f][i](d.sizesAttr)))&&(j=g[0]||r[f]);else ba(r[f]);j&&!k&&ba(j)}},W=B(V),X=function(a){s(a.target,d.loadedClass),t(a.target,d.loadingClass),u(a.target,Z),v(a.target,"lazyloaded")},Y=A(X),Z=function(a){Y({target:a.target})},$=function(a,b){try{a.contentWindow.location.replace(b)}catch(c){a.src=b}},_=function(a){var b,c=a[i](d.srcsetAttr);(b=d.customMedia[a[i]("data-media")||a[i]("media")])&&a.setAttribute("media",b),c&&a.setAttribute("srcset",c)},aa=A(function(a,b,c,e,f){var g,h,j,l,o,p;(o=v(a,"lazybeforeunveil",b)).defaultPrevented||(e&&(c?s(a,d.autosizesClass):a.setAttribute("sizes",e)),h=a[i](d.srcsetAttr),g=a[i](d.srcAttr),f&&(j=a.parentNode,l=j&&n.test(j.nodeName||"")),p=b.firesLoad||"src"in a&&(h||g||l),o={target:a},p&&(u(a,T,!0),clearTimeout(m),m=k(T,2500),s(a,d.loadingClass),u(a,Z,!0)),l&&q.call(j.getElementsByTagName("source"),_),h?a.setAttribute("srcset",h):g&&!l&&(N.test(a.nodeName)?$(a,g):a.src=g),f&&(h||l)&&w(a,{src:g})),a._lazyRace&&delete a._lazyRace,t(a,d.lazyClass),z(function(){(!p||a.complete&&a.naturalWidth>1)&&(p?T(o):R--,X(o))},!0)}),ba=function(a){var b,c=M.test(a.nodeName),e=c&&(a[i](d.sizesAttr)||a[i]("sizes")),f="auto"==e;(!f&&l||!c||!a[i]("src")&&!a.srcset||a.complete||r(a,d.errorClass)||!r(a,d.lazyClass))&&(b=v(a,"lazyunveilread").detail,f&&E.updateElem(a,!0,a.offsetWidth),a._lazyRace=!0,R++,aa(a,b,f,e,c))},ca=function(){if(!l){if(f.now()-p<999)return void k(ca,999);var a=C(function(){d.loadMode=3,W()});l=!0,d.loadMode=3,W(),j("scroll",function(){3==d.loadMode&&(d.loadMode=2),a()},!0)}};return{_:function(){p=f.now(),c.elements=b.getElementsByClassName(d.lazyClass),g=b.getElementsByClassName(d.lazyClass+" "+d.preloadClass),L=d.hFac,j("scroll",W,!0),j("resize",W,!0),a.MutationObserver?new MutationObserver(W).observe(e,{childList:!0,subtree:!0,attributes:!0}):(e[h]("DOMNodeInserted",W,!0),e[h]("DOMAttrModified",W,!0),setInterval(W,999)),j("hashchange",W,!0),["focus","mouseover","click","load","transitionend","animationend","webkitAnimationEnd"].forEach(function(a){b[h](a,W,!0)}),/d$|^c/.test(b.readyState)?ca():(j("load",ca),b[h]("DOMContentLoaded",W),k(ca,2e4)),c.elements.length?(V(),z._lsFlush()):W()},checkElems:W,unveil:ba}}(),E=function(){var a,c=A(function(a,b,c,d){var e,f,g;if(a._lazysizesWidth=d,d+="px",a.setAttribute("sizes",d),n.test(b.nodeName||""))for(e=b.getElementsByTagName("source"),f=0,g=e.length;g>f;f++)e[f].setAttribute("sizes",d);c.detail.dataAttr||w(a,c.detail)}),e=function(a,b,d){var e,f=a.parentNode;f&&(d=y(a,f,d),e=v(a,"lazybeforesizes",{width:d,dataAttr:!!b}),e.defaultPrevented||(d=e.detail.width,d&&d!==a._lazysizesWidth&&c(a,f,e,d)))},f=function(){var b,c=a.length;if(c)for(b=0;c>b;b++)e(a[b])},g=C(f);return{_:function(){a=b.getElementsByClassName(d.autosizesClass),j("resize",g)},checkElems:g,updateElem:e}}(),F=function(){F.i||(F.i=!0,E._(),D._())};return c={cfg:d,autoSizer:E,loader:D,init:F,uP:w,aC:s,rC:t,hC:r,fire:v,gW:y,rAF:z}}});
    /*! lazysizes - v4.1.4 */
    !function(a,b){var c=function(){b(a.lazySizes),a.removeEventListener("lazyunveilread",c,!0)};b=b.bind(null,a,a.document),"object"==typeof module&&module.exports?b(require("lazysizes")):a.lazySizes?c():a.addEventListener("lazyunveilread",c,!0)}(window,function(a,b,c){"use strict";function d(){this.ratioElems=b.getElementsByClassName("lazyaspectratio"),this._setupEvents(),this.processImages()}if(a.addEventListener){var e,f,g,h=Array.prototype.forEach,i=/^picture$/i,j="data-aspectratio",k="img["+j+"]",l=function(b){return a.matchMedia?(l=function(a){return!a||(matchMedia(a)||{}).matches})(b):a.Modernizr&&Modernizr.mq?!b||Modernizr.mq(b):!b},m=c.aC,n=c.rC,o=c.cfg;d.prototype={_setupEvents:function(){var a=this,c=function(b){b.naturalWidth<36?a.addAspectRatio(b,!0):a.removeAspectRatio(b,!0)},d=function(){a.processImages()};b.addEventListener("load",function(a){a.target.getAttribute&&a.target.getAttribute(j)&&c(a.target)},!0),addEventListener("resize",function(){var b,d=function(){h.call(a.ratioElems,c)};return function(){clearTimeout(b),b=setTimeout(d,99)}}()),b.addEventListener("DOMContentLoaded",d),addEventListener("load",d)},processImages:function(a){var c,d;a||(a=b),c="length"in a&&!a.nodeName?a:a.querySelectorAll(k);for(d=0;d<c.length;d++)c[d].naturalWidth>36?this.removeAspectRatio(c[d]):this.addAspectRatio(c[d])},getSelectedRatio:function(a){var b,c,d,e,f,g=a.parentNode;if(g&&i.test(g.nodeName||""))for(d=g.getElementsByTagName("source"),b=0,c=d.length;c>b;b++)if(e=d[b].getAttribute("data-media")||d[b].getAttribute("media"),o.customMedia[e]&&(e=o.customMedia[e]),l(e)){f=d[b].getAttribute(j);break}return f||a.getAttribute(j)||""},parseRatio:function(){var a=/^\s*([+\d\.]+)(\s*[\/x]\s*([+\d\.]+))?\s*$/,b={};return function(c){var d;return!b[c]&&(d=c.match(a))&&(d[3]?b[c]=d[1]/d[3]:b[c]=1*d[1]),b[c]}}(),addAspectRatio:function(b,c){var d,e=b.offsetWidth,f=b.offsetHeight;return c||m(b,"lazyaspectratio"),36>e&&0>=f?void((e||f&&a.console)&&console.log("Define width or height of image, so we can calculate the other dimension")):(d=this.getSelectedRatio(b),d=this.parseRatio(d),void(d&&(e?b.style.height=e/d+"px":b.style.width=f*d+"px")))},removeAspectRatio:function(a){n(a,"lazyaspectratio"),a.style.height="",a.style.width="",a.removeAttribute(j)}},f=function(){g=a.jQuery||a.Zepto||a.shoestring||a.$,g&&g.fn&&!g.fn.imageRatio&&g.fn.filter&&g.fn.add&&g.fn.find?g.fn.imageRatio=function(){return e.processImages(this.find(k).add(this.filter(k))),this}:g=!1},f(),setTimeout(f),e=new d,a.imageRatio=e,"object"==typeof module&&module.exports?module.exports=e:"function"==typeof define&&define.amd&&define(e)}});
      /*! lazysizes - v4.1.5 */
    !function(a,b){var c=function(){b(a.lazySizes),a.removeEventListener("lazyunveilread",c,!0)};b=b.bind(null,a,a.document),"object"==typeof module&&module.exports?b(require("lazysizes")):a.lazySizes?c():a.addEventListener("lazyunveilread",c,!0)}(window,function(a,b,c){"use strict";if(a.addEventListener){var d=/\s+/g,e=/\s*\|\s+|\s+\|\s*/g,f=/^(.+?)(?:\s+\[\s*(.+?)\s*\])(?:\s+\[\s*(.+?)\s*\])?$/,g=/^\s*\(*\s*type\s*:\s*(.+?)\s*\)*\s*$/,h=/\(|\)|'/,i={contain:1,cover:1},j=function(a){var b=c.gW(a,a.parentNode);return(!a._lazysizesWidth||b>a._lazysizesWidth)&&(a._lazysizesWidth=b),a._lazysizesWidth},k=function(a){var b;return b=(getComputedStyle(a)||{getPropertyValue:function(){}}).getPropertyValue("background-size"),!i[b]&&i[a.style.backgroundSize]&&(b=a.style.backgroundSize),b},l=function(a,b){if(b){var c=b.match(g);c&&c[1]?a.setAttribute("type",c[1]):a.setAttribute("media",lazySizesConfig.customMedia[b]||b)}},m=function(a,c,g){var h=b.createElement("picture"),i=c.getAttribute(lazySizesConfig.sizesAttr),j=c.getAttribute("data-ratio"),k=c.getAttribute("data-optimumx");c._lazybgset&&c._lazybgset.parentNode==c&&c.removeChild(c._lazybgset),Object.defineProperty(g,"_lazybgset",{value:c,writable:!0}),Object.defineProperty(c,"_lazybgset",{value:h,writable:!0}),a=a.replace(d," ").split(e),h.style.display="none",g.className=lazySizesConfig.lazyClass,1!=a.length||i||(i="auto"),a.forEach(function(a){var c,d=b.createElement("source");i&&"auto"!=i&&d.setAttribute("sizes",i),(c=a.match(f))?(d.setAttribute(lazySizesConfig.srcsetAttr,c[1]),l(d,c[2]),l(d,c[3])):d.setAttribute(lazySizesConfig.srcsetAttr,a),h.appendChild(d)}),i&&(g.setAttribute(lazySizesConfig.sizesAttr,i),c.removeAttribute(lazySizesConfig.sizesAttr),c.removeAttribute("sizes")),k&&g.setAttribute("data-optimumx",k),j&&g.setAttribute("data-ratio",j),h.appendChild(g),c.appendChild(h)},n=function(a){if(a.target._lazybgset){var b=a.target,d=b._lazybgset,e=b.currentSrc||b.src;if(e){var f=c.fire(d,"bgsetproxy",{src:e,useSrc:h.test(e)?JSON.stringify(e):e});f.defaultPrevented||(d.style.backgroundImage="url("+f.detail.useSrc+")")}b._lazybgsetLoading&&(c.fire(d,"_lazyloaded",{},!1,!0),delete b._lazybgsetLoading)}};addEventListener("lazybeforeunveil",function(a){var d,e,f;!a.defaultPrevented&&(d=a.target.getAttribute("data-bgset"))&&(f=a.target,e=b.createElement("img"),e.alt="",e._lazybgsetLoading=!0,a.detail.firesLoad=!0,m(d,f,e),setTimeout(function(){c.loader.unveil(e),c.rAF(function(){c.fire(e,"_lazyloaded",{},!0,!0),e.complete&&n({target:e})})}))}),b.addEventListener("load",n,!0),a.addEventListener("lazybeforesizes",function(a){if(a.detail.instance==c&&a.target._lazybgset&&a.detail.dataAttr){var b=a.target._lazybgset,d=k(b);i[d]&&(a.target._lazysizesParentFit=d,c.rAF(function(){a.target.setAttribute("data-parent-fit",d),a.target._lazysizesParentFit&&delete a.target._lazysizesParentFit}))}},!0),b.documentElement.addEventListener("lazybeforesizes",function(a){!a.defaultPrevented&&a.target._lazybgset&&a.detail.instance==c&&(a.detail.width=j(a.target._lazybgset))})}});
  </script>    

  {% if page_description %}
    <meta name="description" content="{% if template contains 'search' %} {{ page_title }} | {{ shop.name }} {% else %}{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}{% endif %}" />
  {% endif %}

  <!----------- FAVICON ----------->
  {% if settings.favicon != nil %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '180x180' }}">
    <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.favicon | img_url: '57x57' }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.favicon | img_url: '60x60' }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '72x72' }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.favicon | img_url: '76x76' }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.favicon | img_url: '114x114' }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="228x228" href="{{ settings.favicon | img_url: '228x228' }}"/>
  {% else %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {% endif %}
  <!----------- End FAVICON ----------->

  {% if template contains 'customer' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js" | shopify_asset_url | script_tag }}
  {% endif %}

  {% include 'social-meta-info' %}
  {% if collection.previous_product %}<link rel="prev" href="{{ collection.previous_product }}">{% endif %}
  {% if collection.next_product %}<link rel="next" href="{{ collection.next_product }}">{% endif %}

  {{ content_for_header }}

  {% include 'shogun-head' %}
</head>

  {% if template contains "index" %}
      {% assign feature_image = true %}
  {% elsif template contains "collection" %}
      {% assign feature_image = true %}
  {% elsif template contains "blog" %}
      {% assign feature_image = true %}
  {% elsif template contains "article" %}
      {% assign feature_image = true %}
  {% elsif template contains "contact" %}
      {% assign feature_image = true %}
  {% elsif template contains "product" %}
      {% assign feature_image = true %}
  {% elsif template contains "gallery" %}
      {% assign feature_image = true %}
  {% elsif template contains "banner" %}
      {% assign feature_image = true %}
  {% elsif template contains "details" %}
      {% assign feature_image = true %}
  {% elsif template contains "faq" %}
      {% assign feature_image = true %}
  {% elsif template contains "search" %}
      {% assign feature_image = true %}
  {% elsif template contains "cart" %}
      {% assign feature_image = true %}
  {% else %}
      {% assign feature_image = false %}
  {% endif %}

  <noscript>
      <style>
      .product_section .product_form,
      .product_gallery {
          opacity: 1;
      }
      .multi_select,
      form .select {
          display: block !important;
      }
      .image-element__wrap {
          display: none;
      }
      </style>
  </noscript>

  <body class="{% if template == '404' %}error-404{% else %}{{ template | replace: '.', '-' | handle }}{% endif %}"
    data-money-format="{{ shop.money_format }}" data-shop-url="{{ shop.url }}" data-theme="default" > 
      
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MGR467V"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      
      <!----------- SHOPIFY ----------->
      {% unless condition %}
        
      {% endunless %}
        {% section 'header' %}

        <div class="mega-menu-container">
          {% if settings.mega_menu_1 %}
            {% section 'mega-menu-1' %}
          {% endif %}
          {% if settings.mega_menu_2 %}
            {% section 'mega-menu-2' %}
          {% endif %}
          {% if settings.mega_menu_3 %}
            {% section 'mega-menu-3' %}
          {% endif %}
          {% if settings.mega_menu_4 %}
            {% section 'mega-menu-4' %}
          {% endif %}
          {% if settings.mega_menu_5 %}
            {% section 'mega-menu-5' %}
          {% endif %}
        </div>

        {% unless feature_image %}
        <div class="container main content">
        {% endunless %}

        {{ content_for_layout }}
        </div>



          {% section 'validator-bar' %}

        
        {% unless template contains 'customer' %}
          {% section 'newsletter' %}
        {% endunless %}

   
        {% section 'footer' %}

        {% if settings.size_chart != blank %}
          {% include 'popup-size-chart' %}
        {% endif %}
        {% if settings.newsletter_popup %}
          {% include 'popup-newsletter' %}
        {% endif %}
        {% if settings.quick_shop_enabled %}
          {% include 'popup-quick-shop' %}
        {% endif %}
        {% if settings.disqus_enabled %}
          {% if template contains "blog" or template contains "article" or template contains "index" %}
            <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
          {% endif %}
        {% endif %}
      <!----------- End SHOPIFY ----------->
      

    
      <!----------- APPS 2 ----------->
      {% if template contains 'product' or 'collection'%}
        <!-- Currency Switcher / Accounts -->{% include 'mlveda-currencies-switcher' %}{% include 'mlveda-currencies' %}{% include 'mlveda-flag' %}
      {% endif %}
        <!-- Flits / Accounts -->{% render 'flits_snippet' %}
        <!-- AfterShip / Shipping --><div id="as-root"></div><script>(function(e,t,n){var r,i=e.getElementsByTagName(t)[0];if(e.getElementById(n))return;r=e.createElement(t);r.id=n;r.src="https://button.aftership.com/all.js";i.parentNode.insertBefore(r,i)})(document,"script","aftership-jssdk")</script>
        <script>
          window.stamped_disable_font=true
        </script>
        <!----------- End APPS 2 ----------->

      
    

      {% if settings.show_shipping_calculator and template contains "cart" %}
        {% include 'cart-shipping-scripts' %}
      {% endif %}

      {% unless settings.performance == "sport" or template contains "customer" %}
        <script src="{{ 'instantclick.min.js' | asset_url }}" data-no-instant></script>
        <script data-no-instant>
          function inIframe(){try{return window.self!==window.top}catch(t){return!0}}inIframe()||InstantClick.on("change",function(){try{setTimeout(function(){StampedFn.reloadUGC()},1e3)}catch(t){}$('head script[src*="shopify"]').each(function(){var t=document.createElement("script");t.type="text/javascript",t.src=$(this).attr("src"),$("body").append(t)}),$("body").removeClass("fancybox-active"),$.fancybox.destroy()});
        </script>
      {% endunless %}
    
    <script>
      {{ settings.custom_scripts }}
    </script>

    <!----------- SCRIPTS ----------->
      <script src="{{ 'vendors.js' | asset_url }}"></script>
      <script src="{{ 'sections.js' | asset_url }}"></script>
      <script src="{{ 'utilities.js' | asset_url }}"></script>
      <script src="{{ 'app.js' | asset_url }}"></script>
      <script defer src="{{ 'gosun.js' | asset_url }}"></script>
      <!-- <script defer src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script> -->
      <script defer src="https://kit.fontawesome.com/40a53939d2.js" crossorigin="anonymous"></script> 
      <script src="{{ 'vendor-widgets.js' | asset_url }}"></script>
      {% if settings.theme_switch %}
      <script defer src="{{ 'theme_switch.js' | asset_url }}"></script>
      {% endif %}
      {% if template contains "product" %} 
      <script src="{{ 'product-page.js' | asset_url }}"></script>
      {% endif %}
    <!----------- End SCRIPTS ----------->

    {% if settings.show_multiple_currencies %}
      {% include 'currencies' %}
    {% endif %}
    
  </body>
</html>
{% endcapture %}

{% assign content = content | replace_first: '<!DOCTYPE', '!DOCTYPE' | split: ' <' %}
{% for html in content %}{% assign htmlblock = html | strip | prepend: ' <' %}{{htmlblock | replace: ' </', '</'}}{% endfor %}
