{% comment %}
** Cart page - default view **
- Template section
{% endcomment %}
{% assign shipping_value = 0 %}
{% assign cart_total = cart.total_price %}
{% assign shipping_value_left = shipping_value | minus: cart_total %}


<div class="container main content">
  <a name="pagecontent" id="pagecontent"></a>
  
  
  <div class="sixteen columns margin-bottom-lg">
    <div class="text-component">
      {% if cart.item_count == 0 %}
      <h1 id="drawer-cart-title" class="text-truncate text-md">Your Cart<span class="font-normal color-contrast-medium">&nbsp;(<span class="cart_count">{{ cart.item_count }}</span>)</span></h1>
      {% else %}
      <h1 id="drawer-cart-title" class="text-truncate text-md">Your Cart<span class="font-normal color-contrast-medium">&nbsp;(<span class="cart_count">{{ cart.item_count }}</span>)</span></h1>
      
      <p>Not ready to check out?&nbsp;<a href="/collections/todays-deals">Continue shopping.</a></p>
      {% endif %}
    </div>
  </div>
  
  
  {% if cart.item_count == 0 %}
    <div class="sixteen columns">
      <div class="section clearfix">
        <div class="six columns offset-by-five medium-down--one-whole">
        
      <!-- empty content -->
      <div class="js-empty-cart__message {% if cart.item_count > 0 %}hidden{% endif %}">
        <div class="flex flex-column align-center padding-y-lg">
        {% include 'svg' with 'cart' %}
        <p class="empty_cart text-bold text-lg padding-bottom-xs">{{ 'layout.general.empty_cart' | t }}</p>
        <a href="/collections/all" class="text-md link-fx-5 color-primary">Continue shopping ➞</a>
      </div>
      </div>



      </div>
    </div>
  {% else %}
  
  <form action="#cart" method="post" id="cart_form">
    <div class="section clearfix">
      <div class="eleven columns medium-down--one-whole cart-items">
        {% assign total_saving = 0 %}
        {% for item in cart.items %}
          {% if item.variant.compare_at_price > item.variant.price %}
            {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
            {% assign total_saving = saving | plus: total_saving %}
          {% endif %}

          <div class="section clearfix">
            <div class="five columns alpha">
              <a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_page_image">
                {% include 'image-element', image: item, alt: item.title, object_fit: settings.align_height, max_height: settings.collection_height %}
              </a>
            </div>
            <div class="eleven columns omega cart_content_info">
              <a href="{{ item.url }}" class="font-bold text-lg" itemprop="name">{{ item.product.title }}</a>
              <p class="font-light text-md" itemprop="type">{{ item.product.type }}</p>
 
              {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                <p class="meta">
                  {% for option in item.product.options %}
                    <span class="label">{{ option }}:</span> <span>{{ item.variant.options[forloop.index0] }}</span><br />
                  {% endfor %}
                </p>
              {% endunless %}
              {% if item.properties %}
                <p>
                  {% for p in item.properties %}
                    {% unless p.last == blank %}
                      {% if p.last contains '/uploads/' %}
                        <div>
                          {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a>
                        </div>
                      {% else %}
                        <div>
                          {{ p.first }}: {{ p.last }}
                        </div>
                      {% endif %}
                    {% endunless %}
                  {% endfor %}
                </p>
              {% endif %}

              <p class="modal_price">
                {% if item.price > 0 %}
                  <span class="money">{{ item.price | money }}</span>
                {% else %}
                  {{ settings.free_price_text }}
                {% endif %}

                {% if item.price < item.variant.compare_at_price %}
                  <span class="money was_price">{{ item.variant.compare_at_price | money }}</span>
                {% endif %}
              </p>

              <div class="product-quantity-box left">
                <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
                <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %} />
                <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
              </div>
            </div>
          </div>
          {% if cart.item_count >= 2 %}
            <div class="divider"></div>
          {%  endif %}

        {% endfor %}
      </div>

      <div class="five columns medium-down--one-whole">
        <div class="section clearfix">


      <!-- <summary class="padding-y-sm border-top border-contrast-lower flex-shrink-0">
        <p class="flex justify-between js-cart_subtotal"><span>{{ 'layout.general.subtotal' | t }}</span> <span><span class='raidupsell-cart-total-price' data-key='{{item.key}}'> {{ cart.total_price | money }} </span></span></p>
        <p class="flex justify-between"><span>Shipping</span> <span>Free</span></p>
      </summary> -->

      <div class="stackable-embed"></div>


          <!-- <div class="subtotal padding-bottom-lg">
            <div class="order-summary__section order-summary__section--total-lines" data-order-summary-section="payment-lines">
              <table class="total-line-table width-100%">

                <tbody class="total-line-table__tbody width-100%">

                  <tr class="total-line total-line--shipping flex justify-between width-100%">
                    <th class="total-line__name" scope="row">
                      <span> Shipping </span>
                    </th>
                    <td class="total-line__price">
                      <span class="order-summary__small-text" data-checkout-total-shipping-target="0">
                        {% if cart.total_price >= 0 %}
                        <p class="money">FREE</p>
                        {% else %}
                        Calculated at next step
                        {% endif %}
                      </span>
                    </td>
                  </tr>
                  {% if total_saving > 0 %}
                    <tr class="total-line total-line--subtotal flex justify-between width-100%">
                      <th class="total-line__name" scope="row">Discounts</th>
                      <td class="total-line__price">
                      <span class="order-summary__emphasis" >
                        {{ total_saving | money }}
                      </span>
                    </td>
                    </tr>
                  {% endif %}
                </tbody>

                <tfoot class="total-line-table__footer width-100%">
                  <tr class="total-line flex justify-between width-100%">
                    <th class="total-line__name payment-due-label" scope="row">
                      <span class="payment-due-label__total">Subtotal</span>
                    </th>
                    <td class="total-line__price payment-due">
                      <span class="payment-due__price" >
                        {{ cart.total_price | money }}
                      </span>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div> -->

          {% if settings.show_multiple_currencies %}
          <p>
            <small>
              {{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}
            </small>
          </p>
          {% endif %}


          <div class="order-summary__section">
            {% if section.settings.display_special_instructions %}
            <label for="note">{{ 'cart.general.note' | t: shop_name: shop.name }}:</label>
            <textarea id="note" name="note" rows="2">{{ cart.note }}</textarea>
            {% endif %}
          </div>

          {% if settings.display_tos_checkbox %}
          <p>
            <input type="checkbox" class="tos_agree" id="cart_agree" required />
              <label class="tos_label" for="cart_agree">
                {{ 'cart.general.agree_to_terms_html' | t }}
              </label>
            {% if settings.tos_page != blank %}
              <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
            {% endif %}
          </p>
          {% endif %}

          {% if section.settings.cart_message != blank %}
          <div>
            {{ section.settings.cart_message }}
          </div>
          {% endif %}
          <p>
            <button type="submit" class="btn btn--accent action_button add_to_cart" id="checkout" name="checkout">{% if settings.show_lock_icon %}<span class="buttonicon-lock"></span>{% endif %}{{ 'cart.general.checkout' | t }}</button>
          </p>

          <div class='border-left border-contrast-high border-2 width-100\% cart__gift bg-primary-lighter radius-md padding-md inline-flex flex-column items-left margin-y-xl text-center'>   
            <h4 class='margin-bottom-sm'> The perks of every order</h4>      
            <section class='flex'>  
              <div class='validator-item margin-sm flex flex-column align-center'>
                <span class='icon icon--default'>
                  <i class='icon--md material-icons-two-tone'>{{ 'value_props.warranty.icon' | t }}</i> 
                </span>
                <p class='text-sm font-bold margin-top-xs'>{{ 'value_props.warranty.title' | t }}</p> 
              </div> 
        
              <div class='validator-item margin-sm flex flex-column align-center'> 
                <span class='icon icon--default'>
                  <i class='icon--md material-icons-two-tone'>{{ 'value_props.shipping.icon' | t }}</i> 
                </span>
                <p class='text-sm font-bold margin-top-xs'>{{ 'value_props.shipping.title' | t }}</p> 
              </div> 
        
              <div class='validator-item margin-sm flex flex-column align-center'> 
                <span class='icon icon--default'>
                  <i class='icon--md material-icons-two-tone'>{{ 'value_props.security.icon' | t }}</i> 
                </span>
                <p class='text-sm font-bold margin-top-xs'>{{ 'value_props.security.title' | t }}</p> 
              </div> 
            </section>
          </div>

        </div>
      </div>
    </div>
  </form>
{% endif %}


</div>

{% if cart.item_count >= 1 %}
  <section class="products-gallery padding-y-lg white">
    <div class="container max-width-adaptive-lg">
      <!-- Searchanize / Upsell -->
      <div class="searchanise-recommendations" id="8V6J7G4Q2J6H0Y8"></div>
    </div>
  </section>
{%  endif %}


{% include '_0_cart-add-on' %}


{% schema %}

{
"name": "Cart page",
"class": "cart-section",
"settings": [
{
"type": "checkbox",
"id": "display_special_instructions",
"label": "Show \"note\" text box"
},
{
"type": "checkbox",
"id": "display_savings",
"label": "Show total savings",
"default": true
},
{
"type": "richtext",
"id": "cart_message",
"label": "Cart message"
}
],
"blocks": [
{
"type": "featured_collection",
"name": "Featured collection",
"settings": [
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "You may also be interested in"
},
{
"type": "checkbox",
"id": "collection_description",
"label": "Show collection description",
"default": false
},
{
"type": "collection",
"id": "collection",
"label": "Collection"
},
{
"type": "radio",
"id": "collection_style",
"label": "Collection layout",
"default": "grid",
"options": [
{
"value": "slider",
"label": "Slider"
},
{
"value": "grid",
"label": "Grid"
}
]
},
{
"type": "range",
"id": "products_per",
"label": "Products per row",
"min": 2,
"max": 7,
"step": 1,
"default": 6
},
{
"type": "range",
"id": "products_limit",
"label": "Limit products",
"min": 2,
"max": 50,
"step": 1,
"default": 6
}
]
}
]
}

{% endschema %}
