<a name="pagecontent" id="pagecontent"></a>


    {% if section.settings.featured_collection_image %}
    {% capture sizes %}100x,480x,765x,1400x,2048x{% endcapture %}
    {% assign sizes = sizes | split: ',' %}

<span class='{{ collection.metafields.custom_fields["theme_color"] }}-0rm'>
  <!-- START / Mobile  -->
    <!-- Banner / 2-Columns -->
    <div class="banner center page_banner collection_banner mobile--true dark-overlay-{{ section.settings.image_darken }}">
      <div class="width-1-1 split-banner split-banner--img right reveal-fx reveal-fx--translate-down">
        <img
            {% if collection.image %}
                src="{{ collection.image | img_url: sizes.first }}"
                data-src="{{ collection.image | img_url: sizes.last }}"
            {%- elsif section.settings.image -%}
                src="{{ section.settings.image | img_url: sizes.first }}"
                data-src="{{ section.settings.image | img_url: sizes.last }}"
            {%- else %}
                src="{{ collection.products.first.featured_image | product_img_url: sizes.first }}"
                data-src="{{ collection.products.first.featured_image | product_img_url: sizes.last }}"
            {% endif %}
            alt="{{ collection.title | escape }}"
            class="lazyload {{ settings.image_loading_style }}"
            sizes="100vw"
            srcset="{%- for size in sizes -%}
                        {%- if collection.image -%}
                        {{ collection.image | img_url: size }}
                        {%- elsif section.settings.image -%}
                        {{ section.settings.image | img_url: size, format: 'pjpg' }}
                        {%- else -%}
                        {{ collection.products.first.featured_image | product_img_url: size }}
                        {%- endif -%}
                        {{ size | replace: "x", "w" }}{% unless forloop.last %},{% endunless %}
                    {%- endfor -%}" />
      </div>

        {% if collection.description != blank %}
        <div class="width-1-1 color-contrast-higher bg-contrast-lower split-banner split-banner--content left">
          <div class="section clearfix collection_description reveal-fx reveal-fx--translate-up">
            <h1> Shop {{ collection.title }}</h1>
            <span class="text-md">{{ collection.description }}</span>
          </div>
        </div>
        {% endif %}
    </div>
  {% endif %}
<!-- END / Mobile  -->
  <div class="container padding-top-lg">
    {% paginate collection.products by section.settings.pagination_limit %}
    {% comment %}Check to see if sidebar should be enabled{% endcomment %}  
    {% assign sidebar = true %}

  <!-- Navigation / Sidebar -->
    <div class="sidebar four columns">
      <div class="sidebar-wrap">       
        <div class="sidebar-content">
          <div class="sidebar-menu">           
            <ul class="toggle_list">
              <h3 class="base-BodyUppercase"><span> Our Picks </span></h3>
              <li><a class=" parent-link--true" data-no-instant="" href="/collections/todays-deals">Today's Deals</a></li>             
              <li><a href="/collections/best-sellers">Best Sellers</a></li>                         
              <li><a href="/collections/new">New Arrivals</a></li>                                        
            </ul>  
            <ul class="toggle_list">
              <h3 class="base-BodyUppercase"><span> Category </span></h3>
              <li><a class=" parent-link--true" data-no-instant="" href="/collections/solar-coolers">Solar Coolers</a></li>     
              <li><a href="/collections/solar-ovens">Solar Ovens</a></li>
              <li><a href="/collections/solar-power">Solar Chargers</a></li>             
              <li><a href="/collections/solar-lighting">Solar Lighting</a></li>
              <li><a href="/collections/water">Water</a></li>  
              <li><a href="/collections/accessories">Accessories</a></li>             
              <li><a href="/collections/bundles">Bundles</a></li> 
            </ul>   
            <ul class="toggle_list hide">
              <h3 class="base-BodyUppercase"><span> Activity </span></h3>
              <li><a href="/collections/beach-boat">Beach & Boat</a></li>             
              <li><a href="/collections/camp-rv">Camp & RV</a></li>             
              <li><a href="/collections/bbq-events">BBQ & Events</a></li>
              <li><a href="/collections/off-grid-emergency">Off-Grid & Emergency</a></li>             
            </ul>    
            <ul class="toggle_list">
              <li class="shop-all"><a href="/collections/all"><b>Shop all ➞</b></a></li>           
            </ul>    
          </div>
        </div>
      </div>
    </div>
    <div class="twelve columns">

  
<!-- START / Desktop  -->
  {% if section.settings.featured_collection_image %}
    {% capture sizes %}100x,480x,765x,1400x,2048x{% endcapture %}
    {% assign sizes = sizes | split: ',' %}
    <div class="banner center page_banner collection_banner mobile--false dark-overlay-{{ section.settings.image_darken }}">
      <div class="width-1-2 split-banner split-banner--img right reveal-fx reveal-fx--translate-left">
        <img
            {% if collection.image %}
                src="{{ collection.image | img_url: sizes.first }}"
                data-src="{{ collection.image | img_url: sizes.last }}"
            {%- elsif section.settings.image -%}
                src="{{ section.settings.image | img_url: sizes.first }}"
                data-src="{{ section.settings.image | img_url: sizes.last }}"
            {%- else %}
                src="{{ collection.products.first.featured_image | product_img_url: sizes.first }}"
                data-src="{{ collection.products.first.featured_image | product_img_url: sizes.last }}"
            {% endif %}
            alt="{{ collection.title | escape }}"
            class="lazyload {{ settings.image_loading_style }}"
            sizes="100vw"
            srcset="{%- for size in sizes -%}
                        {%- if collection.image -%}
                        {{ collection.image | img_url: size }}
                        {%- elsif section.settings.image -%}
                        {{ section.settings.image | img_url: size, format: 'pjpg' }}
                        {%- else -%}
                        {{ collection.products.first.featured_image | product_img_url: size }}
                        {%- endif -%}
                        {{ size | replace: "x", "w" }}{% unless forloop.last %},{% endunless %}
                    {%- endfor -%}" />
      </div>
      {% if collection.description != blank %}
        <div class="width-1-2  color-contrast-higher  bg-contrast-lower split-banner split-banner--content left reveal-fx reveal-fx--translate-right">
          <div class="section clearfix collection_description">
            <h1> Shop {{ collection.title }}</h1>
            <span class="text-md">{{ collection.description }}</span>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}

<!-- video section start -->
{% assign banner_video_url_id = '' %}
{%- for block in section.blocks -%}
  {%- if block.type == 'video_by_coll' -%}
    {%- comment -%} A separate 'if' avoids parallel execution of both conditions. Don't combine with 'and' operator.{%- endcomment -%}
    {%- if collection.handle == block.settings.coll_video_collectionhandle -%}
      {%- assign banner_video_url_id = block.settings.coll_video_url.id -%}
      {%- break -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{%- if banner_video_url_id != blank -%}
  {%- capture ytparam -%}
    {%- if section.settings.banner_video_autoplay -%}&amp;autoplay=1{%- endif -%}
    {%- if section.settings.banner_video_hidecontrols -%}&amp;controls=0{%- endif -%}
  {%- endcapture -%}
<div style="position: relative; overflow: hidden; width: 100%; padding-top: 56.25%;">
<iframe style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%;" type="text/html"
src="https://www.youtube.com/embed/{{ banner_video_url_id }}?modestbranding=1{{ ytparam }}"
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe>
</div>
{%- endif %}
<!-- video section end -->

  <div class="section clearfix width-1-1 mobile--true">
    {% if section.settings.collection_sort %}
      <select class="sort_by"  data-default-sort="{{ collection.sort_by | default: collection.default_sort_by  }}">
        <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
        <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
        <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
        <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
        <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
        <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
        <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
        <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
      </select>
    {% endif %}
  </div>

  <div class="section clearfix width-1-3 mobile--false float-right">
    
    {% if section.settings.collection_sort %}
      <select class="sort_by" id="sort-by" data-default-sort="{{ collection.sort_by | default: collection.default_sort_by  }}">
        <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
        <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
        <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
        <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
        <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
        <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
        <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
        <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
      </select>
    {% endif %}
  </div>
    {% comment %} Remove collection-matrix class to prevent conflict infinite loading between app & theme {% endcomment %}
    <div id="bc-sf-filter-products" itemtype="http://schema.org/ItemList" class="product-list clearfix equal-columns--clear equal-columns--outside-trim" data-bc-sort="{{ collection.default_sort_by }}">
      {% assign products_per_row = section.settings.products_per_row %}
      {% include 'product-loop', sidebar: sidebar %}
    </div>

    {% assign currentCollection = collection.url %}
    {%- comment -%}// show collection next / prev links - 
    first we have to find the current collection in the linklist and then grab its index in the for loop. 
    Then we grab the next and prev based on that number
    {%- endcomment -%}



  <div class="twelve columns">
    <div class="section clearfix">
      <div class="paginate" id="bc-sf-filter-bottom-pagination"></div>
      <div id="bc-sf-filter-load-more"></div>
    </div>
  </div>
</div>
  {% endpaginate %}

</div>
<section class="bg-contrast-lower width-100 padding-xxl  margin-top-xxl">
  <h2 class="center">More to explore.</h2>
  <!-- Previous/Next Links -->
  <ul class="pn-links grid  margin-top-md text-md">
    {% for link in linklists['collection-nav'].links %}
      {% if link.url == currentCollection %}
        {% assign currentIndex = forloop.index %}
        {% assign previousIndex = currentIndex | minus:1 %}
        {% assign nextIndex = currentIndex | plus:1 %}
      {% endif %}
      {% endfor %}
      {% for link in linklists['collection-nav'].links %}
        {% if forloop.index == previousIndex %}
        <li class="pn-links__item col-6@md">
          <a class="pn-links__link justify-center justify-between@md" href="{{ link.url }}">
            <svg class="pn-links__icon icon icon--lg flip-x" viewBox="0 0 48 48">
              <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <line x1="37" y1="14" x2="47" y2="24" />
                <line x1="47" y1="24" x2="37" y2="34" />
                <line x1="47" y1="24" x2="1.5" y2="24" />
              </g>
            </svg>
            <span class="margin-left-sm">
              <i class="sr-only">Previous: </i>{{ link.title }}
            </span>
          </a>
        </li>
        {% elsif forloop.index == nextIndex %}
        <li class="pn-links__item col-6@md">
          <a class="pn-links__link justify-center justify-between@md" href="{{ link.url }}">
            <span class="margin-right-sm">
              <i class="sr-only">Previous: </i>{{ link.title }}
            </span>
            <svg class="pn-links__icon icon icon--lg" viewBox="0 0 48 48">
              <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <line x1="37" y1="14" x2="47" y2="24" />
                <line x1="47" y1="24" x2="37" y2="34" />
                <line x1="47" y1="24" x2="1.5" y2="24" />
              </g>
            </svg>
          </a>
        </li>
        {% endif %}
    {% endfor %}
  </ul>
</section>
</span>


{% schema %}


{
  "name": "Collection",
  "class": "collection-template-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_collection_title",
      "label": "Show collection title"
    },
    {
      "type": "checkbox",
      "id": "collection_breadcrumb",
      "label": "Show breadcrumb links",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collection_tags",
      "label": "Enable filtering by product tag"
    },
    {
      "type": "checkbox",
      "id": "collection_sort",
      "label": "Enable collection sorting"
    },
    {
      "type": "header",
      "content": "Banner image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1800 x 1000px recommended"
    },
    {
      "type": "checkbox",
      "id": "featured_collection_image",
      "label": "Show top banner image",
      "info": "The collection's featured image will be used by default. Optionally upload a banner image as a fallback."
    },
    {
      "type": "checkbox",
      "id": "image_darken",
      "label": "Darken banner image",
      "default": false
    },
    {
      "type": "header",
      "content": "Banner video"
    },
    {
      "type": "paragraph",
      "content": "Add blocks called 'Video by Collection' to set each collection's video. Following options apply to all videos."
    },
    {
      "type": "checkbox",
      "id": "banner_video_autoplay",
      "label": "Autoplay video",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "banner_video_hidecontrols",
      "label": "Hide the controls",
      "default": false
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "pagination_limit",
      "label": "Products per page",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 48
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "video_by_coll",
      "name": "Video by Collection",
      "settings": [
        {
          "type": "collection",
          "id": "coll_video_collectionhandle",
          "label": "Collection to apply"
        },
        {
          "type": "video_url",
          "id": "coll_video_url",
          "label": "YouTube video URL",
          "accept": ["youtube"],
          "info": "To disable the video, leave this blank."
        }
      ]
    },
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recently_viewed",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages. [Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228)"
        },
        {
          "type": "text",
          "id": "sidebar_rv_title",
          "label": "Title",
          "default": "Recently Viewed"
        },
        {
          "type": "range",
          "id": "sidebar_rv_per",
          "label": "Products limit",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "filter",
      "name": "Tag filter",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "filter_name",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "filter_tags",
          "label": "Filter tags",
          "info": "Add a comma-separated list of product tags. Only the tags found in the collection will be displayed as filters. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/115008642047)"
        },
        {
          "type": "checkbox",
          "id": "enable_filter_swatches",
          "label": "Display color swatches"
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ]
}

{% endschema %}

