{% if type == 'block' %}
  {% assign id = block.id %}
  {% assign image = block.settings.image %}
  {% assign overline = block.settings.overline %}
  {% assign title = block.settings.title %}
  {% assign description = block.settings.description %}
  {% assign button1 = block.settings.button1 %}
  {% assign button1_url = block.settings.button1_url %}
  {% assign button2 = block.settings.button2 %}
  {% assign button2_url = block.settings.button2_url %}

  {% assign display_text = block.settings.display_text %}
  {% assign full_width = block.settings.full_width %}
  {% assign invert = block.settings.invert %}
  {% assign dark_theme = block.settings.dark_theme %}
  {% assign show_pattern = block.settings.show_pattern %}
  {% assign background_color = block.settings.background_color %}
  {% assign btn_type = block.settings.btn_type %}
  {% assign text_color = block.settings.text_color %}
{% else %}
  {% assign id = section.id %}
  {% assign image = section.settings.image %}
  {% assign overline = section.settings.overline %}
  {% assign title = section.settings.title %}
  {% assign subtitle = section.settings.subtitle %}
  {% assign description = section.settings.description %}
  {% assign button1 = section.settings.button1 %}
  {% assign button1_url = section.settings.button1_url %}
  {% assign button2 = section.settings.button2 %}
  {% assign button2_url = section.settings.button2_url %}

  {% assign display_text = section.settings.display_text %}
  {% assign full_width = section.settings.full_width %}
  {% assign invert = section.settings.invert %}
  {% assign dark_theme = section.settings.dark_theme %}
  {% assign show_pattern = section.settings.show_pattern %}
  {% assign background_color = section.settings.background_color %}
  {% assign btn_type = section.settings.btn_type %}

{% endif %}




<section class="{{ background_color }}  radius-md overflow-hidden padding-component cta-banner" {% if dark_theme != blank %}data-theme="dark-1"{% endif %} {% if button1_url != blank %} onclick="window.open('{{ button1_url }}', {% if section.settings.hero_external %} '_blank' {% else %} '_self'{% endif %})" {% endif %}>
  <div class="grid gap-md items-center">
    <div class="col-6@md reveal-fx reveal-fx--translate-left">
      <div class="padding-left-md@lg">
        <div class="text-component">
          {% if overline != blank %}
          <p class="opacity-70% text-uppercase margin-bottom-xxs">{{ overline }}</p>
          {% endif %}
          <h2 class="mt0"> {{ title }}</h2>
          <p class="text-md">{{ description }}</p>
        </div>
    
        <div class="margin-top-sm">
          <div class="flex flex-wrap gap-sm items-center">
            <a {% if button1_url != blank %}href="{{ button1_url }}"{% endif %} class="btn {% if btn_type != blank %} {{ btn_type }} {% endif %}">{{ button1 }}&nbsp;➞</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-6@md reveal-fx reveal-fx--translate-right">
      <figure class="width-100%">
        <img class="block width-100%" src="{{ image |  img_url: '600x' }}" alt="{{ title }}">
      </figure>
    </div>
  </div>
</section>


  
  
{% schema %}

{
  "name": "CTA Banner",
  "class": "container padding-bottom-xl",
  "settings": [
    {
      "type":      "header",
      "content":   "Created by [Latimer Design](https:\/\/latimer.me)",
      "info":      "Need help? [Send an email.](mailto:\/\/bailey@latimer.me)"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "670x380 recommended"
    },
    {
      "type": "text",
      "id": "overline",
      "label": "Overline"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button1",
      "label": "Button 1 label"
    },
    {
      "type": "url",
      "id": "button1_url",
      "label": "Button 1 URL"
    },
    {
      "type": "checkbox",
      "id": "hero_external",
      "label": "Open url in new tab",
      "default": false
    },
    {
        "type": "checkbox",
        "id": "invert",
        "label": "Invert",
        "default": false
      },
    {
      "type": "checkbox",
      "id": "dark_theme",
      "label": "Dark theme",
      "default": true
    },
    {
      "type": "select",
      "id": "background_color",
      "label": "Background color",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "bg-white",
          "label": "White"
        },
        {
          "value": "bg-contrast-lower",
          "label": "Contrast / lower"
        },
        {
          "value": "bg-contrast-low",
          "label": "Contrast / low"
        },
        {
          "value": "bg-contrast-medium",
          "label": "Contrast / medium"
        },
        {
          "value": "bg-contrast-high",
          "label": "Contrast / high"
        },
        {
          "value": "bg-contrast-higher",
          "label": "Contrast / higher"
        },
        

        {
          "value": "bg-primary-lighter",
          "label": "Primary / lighter"
        },
        {
          "value": "bg-primary-light",
          "label": "Primary / light"
        },
        {
          "value": "bg-primary",
          "label": "Primary / medium"
        },
        {
          "value": "bg-primary-dark",
          "label": "Primary / dark"
        },
        {
          "value": "bg-primary-darker",
          "label": "Primary / darker"
        },


        {
          "value": "stripe--dark",
          "label": "Neutral"
        },
        {
          "value": "grape",
          "label": "Grape"
        },
        {
            "value": "wood-300",
            "label": "Wood"
        },

        {
          "value": "jungle",
          "label": "Jungle"
        },

        {
          "value": "tundra",
          "label": "Tundra"
        },

        {
            "value": "mint",
            "label": "Mint"
        }
      ]
    },
        {
      "type": "select",
      "id": "btn_type",
      "label": "Button type",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "btn--primary",
          "label": "Primary"
        },
        {
          "value": "btn--accent",
          "label": "Secondary"
        },
        {
          "value": "btn--subtle",
          "label": "Subtle"
        }
      ] 
    }
    
  ],
  "presets": [
    {
      "name": "CTA Banner",
      "category": "Features",
      "settings": {
        "image": "",
        "title": "Living off-grid has never been easier.",
        "description": "Meet the GoSun Dream: A solar powered, off-grid, smart tiny home.",
        "button1": "Shop now",
        "button1_url": ""
      }
    }
  ]
}

{% endschema %}