{% comment %}
** Header - default view **
- Static section
{% endcomment %}
{% if template contains "index" %}
  {% assign feature_image = true %}
{% elsif template contains "collection" %}
  {% assign feature_image = true %}
{% elsif template contains "blog" %}
  {% assign feature_image = true %}
{% elsif template contains "article" %}
  {% assign feature_image = true %}
{% elsif template contains "contact" %}
  {% assign feature_image = true %}
{% elsif template contains "product" %}
  {% assign feature_image = true %}
{% elsif template contains "gallery" %}
  {% assign feature_image = true %}
{% elsif template contains "banner" %}
  {% assign feature_image = true %}
{% elsif template contains "details" %}
  {% assign feature_image = true %}
{% elsif template contains "faq" %}
  {% assign feature_image = true %}
{% elsif template contains "search" %}
  {% assign feature_image = true %}
{% elsif template contains "cart" %}
  {% assign feature_image = true %}
{% else %}
  {% assign feature_image = false %}
{% endif %}
{% assign promo_link = section.settings.promo_link %}


<!------ START HEADER ------>

<header id="header">




  
  


  {% if section.settings.promo_text != blank %}
    <div class="pre-header padding-y-xs js-pre-header" {% if promo_link != blank %} onclick="window.open('{{ promo_link }}', {% if section.settings.promo_external %} '_blank' {% else %} '_self'{% endif %})" {% endif %}>
      <div class="container max-width-lg flex flex-column flex-row@md {% if section.settings.countdown_date != blank %} justify-between@md {% else %} justify-center {% endif %} align-center">
        <div class="flex align-center text-component text-sm">
          <span class="icon margin-right-sm">        
            <i class="material-icons-outlined">{{ section.settings.promo_icon }}</i>
          </span>
          <p class="font-bold">
            <span class="mobile--false">{{ section.settings.promo_text }}</span>
            <span class="mobile--true"> 
              {% if section.settings.promo_text_mobile != blank %} 
              {{ section.settings.promo_text_mobile }}
              {% else %}
              {{ section.settings.promo_text }}
              {% endif %}
            </span>
          </p>
        </div>

        {% if section.settings.countdown_date != blank %}
        <div class="flex flex-column@md align-center">
          <p class="text-xs">Offer ends in &nbsp;</p>
          <div class="countdown countdown--has-labels text-bold js-countdown" data-countdown="{{section.settings.countdown_date}}T{{section.settings.countdown_time}}:00.000-05:00" data-labels="day, hrs, min, sec">
            <p class="countdown__fallback">This offer will end soon.</p>
          </div>
        </div>
        {% endif %}

        <script>
          console.log('{{section.settings.countdown_date}}T{{section.settings.countdown_time}}:00.000-05:00')
          console.log('2020-03-10T20:59:00.000+00:00')
        </script>

      </div>

      <div class="promo_banner-close"></div>
    </div>
  {% endif %}

  <!-- Header / Small Screens -->
  <nav class="mobile--true mobile_nav-fixed--{{ section.settings.fixed_header }}">
   
    <section class="top_bar flex justify-between align-center clearfix">
      <ul class="flex align-center">
        <!-- Hamburger Menu -->
        <a class="mobile_nav dropdown_link margin-right-lg" data-dropdown-rel="menu" data-no-instant="true">
          <div>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>

        {% if settings.theme_switch %}
          {% include '_1_switch-mobile' %} 
        {% endif %}
         
      </ul> 
      <!-- End Hamburger Menu -->
      <a href="{{ shop.url }}" title="{{ shop.name | escape }}" class="mobile_logo logo">
        {% include 'svg' with 'logo' %}
      </a>
      <div class="menu margin-left-auto">
          <a class="mega-nav__icon-btn info-item" href="tel:+{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '', '' }}"><span class="icon"><em class="material-icons-outlined">call</em></span></a>
        {% if section.settings.search_enabled %}
          <a href="/search" class="info-item icon-search dropdown_link mega-nav__icon-btn" title="{{ 'general.search.placeholder' | t | escape }}" data-dropdown-rel="search"><span class="icon"><em class="material-icons-outlined">search</em></span></a>
        {% endif %}
        <!-- Cart -->
        {% if section.settings.show_cart %}
        <div class="mega-nav__icon-btn">
          <a href="/cart"  aria-controls="drawer-cart-id" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link mega-nav__icon-btn info-item" title="{{ 'layout.general.cart' | t | escape }}" data-no-instant><span class="icon"><em class="material-icons-outlined">shopping_cart</em></span> 
            <div class="cart_count-bubble"> 
              <span class="cart_count">{{ cart.item_count }}</span>
            </div>
          </a>
        </div>
      {% endif %}
      </div>
    </section>
    <!-- Search Bar -->
    {% if section.settings.search_enabled %}
      <div class="dropdown_container center" data-dropdown="search">
        <div class="dropdown bg">
          <form action="/search" class="header_search_form">
            {% if settings.search_option != 'everything' %}
              <input type="hidden" name="type" value="product" />
            {% endif %}
        
            <span class="icon-search search-submit"><span class="icon"><em class="material-icons-outlined color-contrast-medium">search</em></span></span>
            <input class="color-contrast-high bg-contrast-low" type="text" name="q" placeholder="{{ 'general.search.placeholder' | t: shop_name: shop.name }}" onfocus="this.placeholder=''" autocapitalize="off" autocomplete="off" autocorrect="on" class="search-terms" />
          </form>
        </div>
      </div>
    {% endif %}
    <!-- End Search Bar -->

    <!-- Drawer / Small Screens -->
    <div class="dropdown_container" data-dropdown="menu">
      <div class="dropdown bg">
        <div class="menu flex flex-column justify-between" id="mobile_menu">
        <!-- Main Menu -->
          <ul class="main-menu mega-nav__sub-items">
              
              {% include 'mobile-menu' with section.settings.main_linklist %}

                <!-- Sale Link -->
                {% if section.settings.sale_text != blank %}
                  <li class="link-sale sublink">
                    <a class="margin-left-sm flex align-center" href="{{ section.settings.sale_url }}">
                      <span class="icon" style="padding-bottom: 0;">
                        <i class="material-icons-outlined"> {{ section.settings.sale_icon }}</i>
                      </span>
                      <p class="font-medium"{{ section.settings.sale_text }}</p>
                    </a>
                  </li>
                {% endif %}

              {% include 'mobile-menu' with section.settings.main_linklist2 %}
              <!-- <span class="height-md block border-bottom border-2"></span> -->
              {% include 'mobile-menu' with section.settings.top_bar_menu %}
          </ul>
          <!-- Utility Menu -->
          <section class="utility-nav flex flex-wrap padding-top-lg">
            {% if section.settings.phone_number != blank %}      
            <a class="info-item padding-left-md padding-y-xs width-50%" href="tel:+{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '', '' }}"><span class="icon"><em class="material-icons-outlined">call</em></span>{{ section.settings.phone_number }}</a>
            {% endif %}
            <a class="info-item padding-left-md padding-y-xs width-50%" href="sms://+15135472426;?&amp;body=Hey%20GoSun%20Team!%20I%20have%20a%20question..."> <span class="icon"><em class="material-icons-outlined">textsms</em></span>+1 513.547.2426</a>
            <a class="info-item padding-left-md padding-y-xs width-50%" href="mailto:support@gosun.co"><span class="icon"><em class="material-icons-outlined">mail</em></span>support@gosun.co</a>
            <a class="info-item padding-left-md padding-y-xs width-50%" href="/account"><span class="icon"><em class="material-icons-outlined">account_circle</em></span>Account</a>
          </section>
        </div>
      </div>
    </div>
    <!-- End Drawer / Small Screens -->
  </nav>

 

   <!-- Header / Large Screens -->
  <nav class="header {% if feature_image and settings.header_background == false %}is-absolute {% endif %} header-fixed--{{ section.settings.fixed_header }} {% if settings.header_background %}header-background--solid{% endif %}">
    <!-- Utility Bar -->
    <section class="top_bar flex justify-between align-center width-100% base">
      <ul class="menu left">
        <!-- Phone Number -->
        {% if section.settings.phone_number != blank %}     
          {% if section.settings.phone_position == "left" %}    
          <li class="info-item info-item--top-bar">
            <span class="icon icon--cta">
              <i class="material-icons-outlined">call</i>
            </span>
            <a href="tel:+{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '', '' }}">{{ section.settings.phone_number }}</a>
          </li>
          {% endif %}
        {% endif %}
        <!-- End Phone Number -->
        {% if section.settings.top_bar_menu != blank %}
          {% for link in linklists[section.settings.top_bar_menu].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        {% endif %}
      </ul>

      <p class="text-sm font-bold color-contrast-medium base-BodyUppercase mt0 ">{{ section.settings.tagline_text }}</p>
      <!-- Utility Menu -->
      <ul class="menu right">
        
        {% if settings.theme_switch %}
          {% include '_1_switch' %} 
        {% endif %}
    
        <!-- Phone Number -->
        {% if section.settings.phone_number != blank %}     
        {% if section.settings.phone_position == "right" %}    
        <li class="margin-left-sm info-item info-item--top-bar">
          <span class="icon icon--cta"><i class="material-icons-outlined">call</i></span>
          <a href="tel:+{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '', '' }}">{{ section.settings.phone_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        <!-- End Phone Number -->

        {% if settings.show_multiple_currencies %}
        <li>
          {% include 'currencies-switcher' %}
        </li>
        {% endif %}

       

        {% if shop.customer_accounts_enabled %}
        <li>
          <a href="/account" class="icon-user info-item" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}"> 
            <span class="icon">
              <i class="material-icons-outlined">account_circle</i>
            </span>
            <!--
            <span>{% if customer %}{{ 'layout.customer.my_account' | t }}{% else %}{{ 'layout.customer.log_in' | t }}{% endif %}</span>
            -->
          </a>
        </li>
        {% endif %}
        <!-- Wishlist -->
        <li class="info-item info-item--top-bar pointer" onclick="window.open('/account?p=1#wishlist', '_self')">
          <span class="icon">
            <i class="material-icons-outlined">favorite_border</i>
          </span>
        </li>

        <!-- Cart -->
        {% if section.settings.show_cart %}
          <div class="mega-nav__icon-btn">
            <a href="/cart"  aria-controls="drawer-cart-id" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link mega-nav__icon-btn info-item" title="{{ 'layout.general.cart' | t | escape }}" data-no-instant><span class="icon"><em class="material-icons-outlined">shopping_cart</em></span> 
              <div class="cart_count-bubble "> 
                <span class="cart_count">{{ cart.item_count }}</span>
              </div>
            </a>
          </div>
        {% endif %}
      </ul>
    </section>
    <!-- Menu Bar -->
    <section class="main_nav_wrapper">
      <div class="main_nav clearfix menu-position--{{ section.settings.menu_position }}  logo-align--{{ section.settings.logo_position }} max-width-xxxl">
        <!-- Logo -->
        {% capture logo %}
          <div class="logo text-align--{{ section.settings.logo_alignment }}">
            <a href="{{ shop.url }}" title="{{ shop.name }}">
              {% include 'svg' with 'logo' %}
            </a>
          </div>
        {% endcapture %}
        {% assign vertical_menu = section.settings.vertical_menu %}
        <!-- Menu / Left -->
        {% capture menu_left %}

          {% include 'menu' with section.settings.main_linklist %}

          <!-- Sale Link -->
          {% if section.settings.sale_text != blank %}
            <li class="link-sale sublink">
              <a class="flex align-center" href="{{ section.settings.sale_url }}">
                <span class="icon" style="padding-bottom: 0;">
                  <i class="material-icons-outlined"> {{ section.settings.sale_icon }}</i>
                </span>
                {{ section.settings.sale_text }}
              </a>
            </li>
          {% endif %}

        {% endcapture %}
        <!-- Menu / Right -->
        {% capture menu_right %}
          {% if vertical_menu %}
            {% include 'vertical-menu' with section.settings.main_linklist2 %}
          {% else %}
            {% include 'menu' with section.settings.main_linklist2 %}
          {% endif %}
          <!-- Search Bar -->
          {% if section.settings.search_enabled %}
            <li class="search_container" data-autocomplete-{{ settings.enable_autocomplete }}>
              <form action="/search" class="search_form">
                {% if settings.search_option != 'everything' %}
                  <input type="hidden" name="type" value="product" />
                {% endif %}
                <span class="icon-search search-submit"><span class="icon"><em class="material-icons-outlined">search</em></span></span>
                <input type="text" name="q" placeholder="{{ 'general.search.placeholder' | t: shop_name: shop.name }}" value="{% if search and search.results.first.price %}{{ search.terms | replace: '*', '' }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
              </form>
            </li>
            <li class="search_link">
              <a href="/search" class="icon-search dropdown_link" title="{{ 'general.search.placeholder' | t | escape }}" data-dropdown-rel="search"></a>
            </li>
          {% endif %}
        {% endcapture %}

        <!-- Layout (All together now) -->
        {% if section.settings.logo_position == "left" or section.settings.menu_position == "block" %}
          
          <div class="nav">
            <ul class="menu flex justify-center align-center clearfix">
              {{ logo }}
              {{ menu_left }}
            </ul>
            <ul class="menu clearfix">
              {{ menu_right }}
            </ul>
          
          </div>
        {% else %}
          <div class="nav">
            <ul class="menu {{ section.settings.menu_alignment }} clearfix">
              {{ menu_left }}
            </ul>
          </div>
          {{ logo }}
          <div class="nav">
            <ul class="menu {% if section.settings.menu_alignment == 'align_left' %}align_right{% elsif section.settings.menu_alignment == 'align_right' %}align_left{% else %}{{ section.settings.menu_alignment }}{% endif %} clearfix">
              {{ menu_right }}
            </ul>
          </div>
        {% endif %}
        <!-- Search Bar / Second instance - Investigate this -->
        {% if section.settings.search_enabled %}
          <div class="dropdown_container center" data-dropdown="search">
            <div class="dropdown" data-autocomplete-{{ settings.enable_autocomplete }}>
              <form action="/search" class="header_search_form">
                {% if settings.search_option != 'everything' %}
                  <input type="hidden" name="type" value="product" />
                {% endif %}
                <span class="icon-search search-submit"></span>
                <input type="text" name="q" placeholder="{{ 'general.search.placeholder' | t: shop_name: shop.name }}" autocapitalize="off" autocomplete="off" autocorrect="off" class="search-terms" />
              </form>
            </div>
          </div>
        {% endif %}
        {% include 'sub-menu' with section.settings.main_linklist %}
        {% include 'sub-menu' with section.settings.main_linklist2 %}

        
      </div>
    </section>
  </nav>

 
  {% include 'minicart-3' %}
</header>

<!------ END HEADER ------>





<!-- Styling -->
<style>
{% if section.settings.promo_text %}
--header-height: calc(var(--mega-nav-height) + var(--promo-banner-height));
@media (min-width: 768px) {
  --header-height: calc(
      var(--mega-nav-height) + var(--promo-banner-height) +
        var(--promo-banner-height)
    );
} 
{% endif %}

  .main_nav div.logo a {
    padding-top: {{ section.settings.logo_top_padding }}px;
    padding-bottom: {{ section.settings.logo_top_padding }}px;
  }
  div.logo img {
    width: {{ section.settings.logo_display_width }}px;
  }
  .nav {
    {% if section.settings.menu_position == "block" %}
      width: 100%;
      clear: both;
    {% elsif section.settings.logo_position == "left" %}
      width: 84%;
      float: left;
    {% else %}
      width: 42%;
      float: left;
    {% endif %}
  }

  {% if section.settings.menu_top_padding %}
    .nav ul.menu {
      padding-top: {{ section.settings.menu_top_padding }}px;
      padding-bottom: {{ section.settings.menu_top_padding }}px;
    } 

    .sticky_nav ul.menu, .sticky_nav .mini_cart {
      padding-top: {{ section.settings.menu_top_padding | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.menu_top_padding | divided_by: 2 }}px;
    }
  {% endif %}

  {% unless section.settings.show_cart %}
    #header .top_bar .icon-search {
      right: 15px;
    }
  {% endunless %}

  {% if section.settings.fixed_header == false %}
    @media only screen and (max-width: 798px) {
      .header-section {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  {% else %}
    body {
      overscroll-behavior-y: none;
    }
  {% endif %}

</style>

<!-- JSON -->
{% schema %}
{
  "name": "Header",
  "class": "header-section",
  "settings": [
  {
    "type": "header",
    "content": "Minicart"
  },
  {
    "type": "checkbox",
    "id": "show_sale",
    "label": "Show sale",
    "default": false
  },
  {
    "type": "product",
    "id": "featured_product",
    "label": "Product"
  },
  {
    "type": "text",
    "id": "gift_value",
    "label": "Minimum Value",
    "info" : "Amount required to trigger event"
  },

    {
      "type": "header",
      "content": "Announcement bar"
    },

    {
      "type": "select",
      "id": "promo_icon",
      "label": "Icon",
      "options": [
        {
          "value": "fireplace",
          "label": "Fire"
        },
        {
          "value": "local_atm",
          "label": "Sale"
        },
        {
          "value": "local_shipping",
          "label": "Shipping"
        },
        {
          "value": "public",
          "label": "Planet"
        },
                {
          "value": "card_giftcard",
          "label": "Gift"
        }
      ],
      "default": "local_shipping"
    },

    {
      "type": "text",
      "id": "promo_text",
      "label": "Promo text",
      "info": "Leave blank to hide announcement bar"
    },
    {
      "type": "text",
      "id": "promo_text_mobile",
      "label": "Promo text --mobile",
      "info": "Only appears on mobile"
    },
    {
      "type": "text",
      "id": "countdown_date",
      "label": "Countdown Date",
      "info" : "Format: yyyy-mm-dd"
    },
    {
      "type": "text",
      "id": "countdown_time",
      "label": "Countdown time",
      "info" : "Format: hh:mm"
    },
    {
      "type": "url",
      "id": "promo_link",
      "label": "Your link"
    },
    {
      "type": "checkbox",
      "id": "promo_external",
      "label": "Open link in new tab",
      "default": false
    },
    {
     "type": "header",
     "content": "Top bar"
    },
    {
      "type": "text",
      "id": "tagline_text",
      "label": "Tagline",
      "info": "Only appears on desktop",
      "default": "Portable power for the people"
    },
    {
      "type": "checkbox",
      "id": "social_icons_header",
      "label": "Show social media header icons",
      "default": true
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone number",
      "info": "1-800-555-5555"
    },
    {
      "type": "link_list",
      "id": "top_bar_menu",
      "label": "Menu",
      "info": "This menu won't show drop-down items"
    },
      {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart icon",
      "options": [
        {
          "value": "cart",
          "label": "Cart"
        },
        {
          "value": "bag",
          "label": "Bag"
        }
      ],
      "default": "cart"
    },
    {
     "type": "header",
     "content": "Logos"
    },
    {
      "type": "range",
      "id": "logo_display_width",
      "label": "Logo display width",
      "step": 5,
      "min": 105,
      "max": 205,
      "default": 205,
      "unit": "px"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "400 x 100px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_home",
      "label": "Secondary logo over content (optional)",
      "info": "400 x 100px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Mobile logo",
      "info": "100 x 50px recommended"
    },
    {
     "type": "header",
     "content": "Menus"
    },
    {
      "type": "checkbox",
      "id": "sale_link",
      "label": "Show sale link",
      "default": true
    },
    {
      "type": "select",
      "id": "sale_icon",
      "label": "Icon",
      "options": [
        {
          "value": "fireplace",
          "label": "Fire"
        },
        {
          "value": "local_atm",
          "label": "Sale"
        },
        {
          "value": "local_shipping",
          "label": "Shipping"
        },
        {
          "value": "public",
          "label": "Planet"
        },
                {
          "value": "card_giftcard",
          "label": "Gift"
        }
      ],
      "default": "card_giftcard"
    },

    {
      "type": "text",
      "id": "sale_text",
      "label": "Tagline",
      "info": "Maximum character limit is 170"
    },
    {
      "type": "url",
      "id": "sale_url",
      "label": "Your link"
    },
    {
      "type": "checkbox",
      "id": "sale_external",
      "label": "Open link in new tab",
      "default": false
    },

    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu"
    },
    {
      "type": "link_list",
      "id": "main_linklist2",
      "label": "Secondary menu"
    },
    {
      "type": "checkbox",
      "id": "vertical_menu",
      "label": "Enable vertical menus",
      "default": false
    },
    {
     "type": "header",
     "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "search_enabled",
      "label": "Show search",
      "default": true
    },
    {
     "type": "header",
     "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "fixed_header",
      "label": "Fixed ('sticky') header",
      "default": true
    },
    {
      "type": "select",
      "id": "phone_position",
      "label": "Phone position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "Logo position",
      "info": "Applies when menu position has been set to 'Inline with logo'",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "logo_alignment",
      "label": "Logo alignment",
      "info": "Applies when menu position has been set to 'Under logo'",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    
    {
      "type": "select",
      "id": "menu_position",
      "label": "Menu position",
      "options": [
        {
          "value": "inline",
          "label": "Inline with logo"
        },
        {
          "value": "block",
          "label": "Under logo"
        }
      ],
      "default": "inline"
    },
    {
      "type": "select",
      "id": "menu_alignment",
      "label": "Menu alignment",
      "options": [
        {
          "value": "align_left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "align_right",
          "label": "Right"
        }
      ],
      "default": "align_left"
    },
    {
      "type": "range",
      "id": "logo_top_padding",
      "label": "Logo top padding",
      "info": "[Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006910627)",
      "min": 0,
      "max": 30,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "menu_top_padding",
      "label": "Main menu top padding",
      "info": "[Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006910627)",
      "min": 0,
      "max": 30,
      "default": 0,
      "unit": "px"
    }
  ]
}

{% endschema %}
