

<section class="marquee width-100 stripe--dark">
  {% unless section.settings.animation_speed == 0 %}
    <div class="marquee-animate">
  {% endunless %}
  {% if section.blocks.size > 0 %}
  <div class="marquee-content">
    {% for block in section.blocks %}
      <a href="{{ block.settings.link }}" class="reveal-fx marquee-block padding-left-md">
        <img loading="lazy"  class="marquee-logo" src="{{ block.settings.image | img_url: '200x' }}"/>
      </a>
    {% endfor %}
  
    {% unless section.settings.animation_speed == 0 %}
    {% for block in section.blocks %}
      <a href="{{ block.settings.link }}" class="reveal-fx marquee-block padding-left-md">
        <img loading="lazy"  class="marquee-logo" src="{{ block.settings.image | img_url: '200x' }}"/>
      </a>
    {% endfor %}
    {% for block in section.blocks %}
      <a href="{{ block.settings.link }}" class="reveal-fx marquee-block padding-left-md">
        <img loading="lazy" class="marquee-logo" src="{{ block.settings.image | img_url: '200x' }}"/>
      </a>
    {% endfor %}
    {% endunless %}

  </div>
  {% endif %}
  {% unless section.settings.animation_speed == 0 %}
    </div>  
  {% endunless %}
</section>


<!-- Styling -->
<style>
  {% if section.settings.animation_speed == 0 %}
  a.marquee-block:nth-child(1) {
  padding-left: 0 !important;
  }
  {% endif %}
  .marquee-animate {
    {% if section.settings.animation_speed == 1 %}
      animation: slide-left 45s linear infinite;
    {% elsif section.settings.animation_speed == "2" %}
      animation: slide-left 30s linear infinite;
      {% elsif section.settings.animation_speed == "3" %}
      animation: slide-left 15s linear infinite;
    {% else %}
    {% endif %}
  }
</style>

    {% schema %}
    {
      "name": "Marquee Logo List",
      "class": "logo-list-section",
      "max_blocks": 20,
      "settings": [
        {
          "type":      "header",
          "content":   "Created by [Latimer Design](https:\/\/latimer.me)",
          "info":      "Need help? [Send an email.](mailto:\/\/bailey@latimer.me)"
        },
        {
          "type":      "range",
          "id":        "animation_speed",
          "min":       0,
          "max":        3,
          "step":       1,
          "unit":       "s",
          "label":     "Animation speed",
          "info":      "Tip: Change to 0s to stop animation",
          "default":   0
        }
      ],
 
      "blocks": [
        {
          "type": "logo_block",
          "name": "Logo",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image",
              "info": "400 x 300px recommended"
            },
            {
              "type": "url",
              "id": "link",
              "label": "Link"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Marquee Logo List",
          "category": "Image",
          "blocks": [
            {
              "type": "logo_block"
            },
            {
              "type": "logo_block"
            },
            {
              "type": "logo_block"
            },
            {
              "type": "logo_block"
            }
          ]
        }
      ]
    }
  {% endschema %}
  