{% comment %}
** Mega menu - homepage partial **
- Static section
- Uses blocks
- Must be enabled through general settings
{% endcomment %}

{% if section.blocks.size > 0 %}
  <div class="dropdown_container mega-menu mega-menu-5" data-dropdown="{{ section.settings.parent | handleize }}">
    <div class="dropdown menu">
      <div class="dropdown_content {% if section.blocks < 4 %}dropdown_narrow{% endif %}">
        {% for block in section.blocks %}
          <div class="dropdown_column cursor-pointer" onclick="window.location.href='{{ block.settings.image_link_bottom }}';" {{ block.shopify_attributes }}>
            {% if block.type == 'column' %}
              {% comment %}Richtext{% endcomment %}
              {% if block.settings.richtext_top %}
                <div class="mega-menu__richtext">
                  {{ block.settings.richtext_top }}
                </div>
              {% endif %}


              {% comment %}Image with caption and link{% endcomment %}
              {% if block.settings.product != nil %}
                <div class="mega-menu__image-caption-link">
                  <a href="{{ block.settings.product.url }}" >
                    <img src="{{block.settings.product.featured_image | img_url: '150x150'}}"> 
                    <p>{{ block.settings.product.title }}</p>
                  </a>
                </div>
              {% endif %}


            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <ul class="mobile-mega-menu hidden" data-mobile-dropdown="{{ section.settings.parent | handleize }}">
    <div class="flex flex-wrap">
    {% for block in section.blocks %}
      <div>
      {% if block.type == 'column' %}
        {% if block.settings.product != nil %}
          <li class="mobile-mega-menu_block"  >
            <a href="{{ block.settings.product.url }}" >
              <img src="{{block.settings.product.featured_image | img_url: '100x100'}}"> 
              <p>{{ block.settings.product.title }}</p>
            </a>
          </li>
        {% endif %}

      {% endif %}
      </div>
    {% endfor %}
  </div>
  </ul>
{% endif %}

{% schema %}

{
  "name": "Mega menu 5",
  "class": "mega-menu-section",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "parent",
      "label": "Link title",
      "info": "The mega menu will appear below this parent link"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "header",
          "content": "Top content"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "column",
        "settings": {
          "product": "sport"
        }
      }
    ]
  }
}

{% endschema %}