<div class="container padding-bottom-xl">
  <div class="flex flex-column flex-row@md"> 
    {% for block in section.blocks %}
      {% if block.settings.image != blank %}
        <a href="{{ block.settings.link }}" itemprop="url" {% if section.settings.dark_theme != blank %}data-theme="dark-1"{% endif %} class="reveal-fx {{ block.settings.background_color }} card-v9 card-v9--product radius-md margin-bottom-sm margin-sm@md {% if section.settings.hover_effect != blank %} {{ section.settings.hover_effect }} {% else %} card-v9--subtle {% endif %} lozad" aria-labelledby="card-title-1" data-background-image="{{ block.settings.image |  img_url: '350x' }};" title="{{ alt | escape }}">
          <div class="card-v9__content padding-md">
            <div class="padding-bottom-xxxl max-width-xxs">
              <p class="color-opacity-50% text-uppercase"> {{ block.settings.overline}} </p>
              <h2 id="card-title-1" class="text-xl"> {{ block.settings.title }} </h2>
            </div>
            <div class="margin-top-auto">
              <span class="card-v9__btn btn"><span>Shop {{ block.settings.title }}&nbsp;➞</span></span>
            </div>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>





<style>
  {% for block in section.blocks %}
  .card-v9:hover {
    background-color: {{ block.settings.background_color }};
  }
  {% endfor %}
</style>



{% schema %}
  {
    "name": "Collections Cards",
    "class": "filter-map--white width-100",
    "max_blocks": 6,
    "settings": [
    {
      "type":      "header",
      "content":   "Created by [Latimer Design](https:\/\/latimer.me)",
      "info":      "Need help? [Send an email.](mailto:\/\/bailey@latimer.me)"
    },
    {
      "type": "checkbox",
      "id": "dark_theme",
      "label": "Dark theme",
      "default": true
    },
    {
      "type": "radio",
      "id": "hover_effect",
      "label": "Hover effect",
      "default": "card-v9--subtle",
      "options": [
        {
          "value": "card-v9--subtle",
          "label": "Subtle"
        },
        {
          "value": "card-v9--vibrant",
          "label": "Vibrant"
        }
      ]
    }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
 
        {
          "type": "select",
          "id": "background_color",
          "label": "Background color",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "bg-white",
              "label": "White"
            },
            {
              "value": "stripe--dark",
              "label": "Neutral"
            },
            {
              "value": "grape",
              "label": "Grape"
            },
            {
              "value": "jungle",
              "label": "Jungle"
            },
            {
              "value": "tundra",
              "label": "Tundra"
            },
            {
              "value": "ocean",
              "label": "Ocean"
            },
            {
              "value": "wood",
              "label": "Wood"
            }
          ]
        },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "800 x 800px recommended"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "overline",
            "label": "Overline",
            "default": "Solar"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          }
        ]
      }
    ],
    
     "presets": [
      {
        "name": "Collections",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
 