<div class="article-wrapper-lg wrapper--xl pb80">

  <div class="flex flex-column@xs flex-row@md padding-sm"> 
    {% for block in section.blocks %}
      {% if block.settings.image != blank %}

      <a href="{{ block.settings.link }}" itemprop="url" class="card-v9 radius-md margin-sm" aria-labelledby="card-title-1" style="background-color: {{block.settings.color_title}}; background-image: url( {{ block.settings.image |  img_url: '350x' }} );" title="{{ alt | escape }}">
        <div class="card-v9__content padding-md">
          <div class="padding-bottom-xxxl max-width-xxs">
            <p class="text-sm color-white color-opacity-50% margin-bottom-xxs text-uppercase"> {{ block.settings.overline}} </p>
            <h1 id="card-title-1" class="text-xl color-white"> {{ block.settings.title }} </h1>
          </div>
          
          <div class="margin-top-auto">
            <span class="card-v9__btn btn"><span>Shop {{ block.settings.title }}&nbsp;➞</span></span>
          </div>
        </div>
      </a>

      {% endif %}
    {% endfor %}
  </div>

</div>








{% schema %}
  {
    "name": "Collections Cards",
    "class": "image-gallery-section filter-map--white",
    "max_blocks": 6,
    "settings": [

    ],
    "blocks": [

      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "800 x 800px recommended"
          },
          {
            "type": "color",
             "id": "color_title",
             "label": "Background color",
             "default": "#FFFFFF"
           },
            {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "overline",
          "label": "Overline",
          "default": "Solar"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        }
        ]
      }
    ],
     "presets": [
      {
        "name": "Collections",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
 