{% comment %}
    ** Product - default view **
    - Product template
{% endcomment %}




<a name="pagecontent" id="pagecontent"></a><span id="stick-here"></span>



{% comment %}START / Page {% endcomment %}
<main class="{{ product.metafields.custom_fields["product_intro_content_color"] }}-0 container main content product-name--{{ product.handle }}">
  

{% comment %}START / Breadcrumbs {% endcomment %}
<nav class="breadcrumbs sixteen columns text-sm" aria-label="Breadcrumbs">
  {% if collection.previous_product or collection.next_product or section.settings.product_breadcrumb %}
    <div class="clearfix breadcrumb-collection">
      {% if collection.previous_product or collection.next_product %}
        <div class="nav_arrows breadcrumb_text">
          {% if collection.previous_product %}
            <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="breadcrumb_link color-inherit margin-left-xxs"  aria-hidden="true">
              <span class="icon-left-arrow color-contrast-low">
                {{ 'products.general.previous_product_html' | t }}
              </span>
            </a>
          {% endif %}
          {% if collection.previous_product and collection.next_product %}
            <span class="breadcrumb-divider color-contrast-low">/</span>
          {% endif %}
          {% if collection.next_product %}
            <a href="{{ collection.next_product }}" title="{{ 'products.general.next_product_html' | t }}" class="breadcrumb_link color-inherit margin-left-xxs"  aria-hidden="true">{{ 'products.general.next_product_html' | t }}
              <span class="icon-right-arrow color-contrast-low"></span>
            </a>
          {% endif %}
        </div>
      {% endif %}
      {% if section.settings.product_breadcrumb %}
        <div class="breadcrumb-not-active breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item" class="breadcrumb_link color-inherit margin-left-xxs"  aria-hidden="true">
              <span class="text-underline" itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span>
            </a>
            <meta itemprop="position" content="1"/>
          </span>
          <span class="breadcrumb-not-active breadcrumb-divider color-contrast-low">/</span>
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            {% if collection %}
              <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item" class="breadcrumb_link color-inherit margin-left-xxs"  aria-hidden="true">
                <span class="text-underline" itemprop="name">{{ collection.title }}</span>
                <meta itemprop="position" content="2"/>
              </a>
            {% else %}
              <a class="breadcrumb-not-active" href="/collections/all" title="{{ collections.all.title }}" itemprop="item" class="breadcrumb_link color-inherit margin-left-xxs"  aria-hidden="true">
                <span class="text-underline" itemprop="name">{{ collections.all.title }}</span>
                <meta itemprop="position" content="2"/>
              </a>
            {% endif %}
          </span>
          <span class="breadcrumb-divider color-contrast-low">/</span>
          <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a class="breadcrumb-active" href="{{ product.url }}" itemprop="item" class="breadcrumb_link color-inherit margin-left-xxs" aria-current="page">
              <span itemprop="name">{{ product.title }}</span>
              <meta itemprop="position" content="3"/>
            </a>
          </span>
        </div>
      {% endif %}
    </div>
  {% endif %}
</nav>
{% comment %}END / Breadcrumbs {% endcomment %}


  {% comment %}START / Content {% endcomment %}
  <div class="product clearfix sixteen columns product-{{ product.id }}" data-free-text="{{ settings.free_price_text }}">
      
    {% comment %}START / Overview {% endcomment %}
    <section id="overview" class="">
      
      <div class="section product_section clearfix js-product_section {% if section.settings.product_images_position == 'right' %}align_right--images{% endif %}" itemscope itemtype="http://schema.org/Product" data-rv-handle="{{ product.handle }}">
        {% if product.metafields.custom_fields["banners_dialog_product"] != blank %}
            {% include 'banners-dialog' %}
        {% endif %}
        <div id="product-images" class="ten columns medium-down--one-whole {% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}">
          {% include 'product-images' %}
        </div>
        <div id="product-details"class="six columns medium-down--one-whole product--overview  {% if section.settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">
          {% assign collection_handles = product.collections | map: 'handle' %}
          {% assign variant = product.selected_or_first_available_variant %}
          {% if product.available %}
            {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
              <div class="sale_banner_product">{{ 'collections.general.sale' | t }}</div>
            {% endif %}
          {% endif %}
          {% if collection_handles contains 'new' %}
            <div class="new_banner_product">{{ 'collections.general.new' | t }}</div>
          {% endif %}
          {% if collection_handles contains 'pre-order' %}
            <div class="preorder_banner_product">{{ 'collections.general.pre_order' | t }}</div>
          {% endif %}
          <meta itemprop="brand" itemscope itemtype="http://schema.org/Brand" content="{{ product.vendor }}">
          {% if section.settings.display_vendor %}
            <p class="vendor">
              <span itemprop="brand" class="vendor">{{ product.vendor | link_to_vendor }}</span>
            </p>
          {% endif %}
          {% if variant.sku != blank and section.settings.display_sku %}
            <p class="sku">
              <span itemprop="sku">{{ variant.sku }}</span>
            </p>
          {% endif %}

          {% comment %}START / Title {% endcomment %}
          {% assign violator = product.metafields.custom_fields["violator_tag_text"] | split: '|'%}
          <div class="product_name--container">
            <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
            <h2 class="product_type">{{ product.type }}</h2>
            <!--
            <div class="mt10 article-violator article-violator--top tooltip-trigger js-tooltip-trigger"  data-tooltip-class="tooltip--lg">
              {% if violator != blank %}
                <div itemprop="attribute"class="left thumbnail_banner violator violator--{{ product.metafields.custom_fields["violator_tag_type"] }}">{{ product.metafields.custom_fields["violator_tag_text"] }}</div>
              {% endif %}
            </div>
            -->
          </div>
          {% comment %}END / Title {% endcomment %}
          <div class="divider"></div>

          {% if settings.enable_shopify_product_badges and settings.enable_shopify_review_comments %}{% endif %}
            {% assign product_tags = product.tags | join: ' ' %}
            {% if product_tags contains 'meta-size-chart-' %}
              {% for tag in product.tags %}
                {% if tag contains 'meta-size-chart-' %}
                  <a href="javascript:;" class="size_chart" data-fancybox data-src="#size-chart{{ product.id }}" data-type="inline" data-no-instant>{{ 'products.product.size_chart' | t }}
                    <span class="icon-right-arrow color-contrast-low"></span>
                  </a>
                  {% include 'popup-size-chart', product_id: product.id %}
                {% endif %}
              {% endfor %}
            {% elsif settings.size_chart != blank %}
              <a href="javascript:;" class="size_chart" data-fancybox data-src="#size-chart{{ product.id }}" data-type="inline" data-no-instant>{{ 'products.product.size_chart' | t }}
                <span class="icon-right-arrow color-contrast-low"></span>
              </a>
          {% endif %}
          {% if collection_handles contains 'coming-soon' %}
              <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
            {% else %}
            <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <meta itemprop="image" content="{{ image.src }}"/>
              <meta itemprop="priceCurrency" content="{{ shop.currency }}"/>
              <meta itemprop="url" content="{{ product.url }}"/>
              <meta itemprop="seller" content="{{ shop.name | escape }}"/>
              <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
              <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition"/>
              
              <span class="sold_out">
                {% if variant.available == false %}
                    {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
              <span itemprop="price" content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                <span class="current_price {% if product.available == false %}hidden{% endif %}">
                  {% if variant.price > 0 %}
                    <span class="money">{{ variant.price | money }}</span>
                  {% else %}
                    {{ settings.free_price_text }}
                  {% endif %}
                </span>
              </span>
              <span class="was_price">
                {% if variant.price < variant.compare_at_price and variant.available %}
                  <span class="money">{{ variant.compare_at_price | money }}</span>
                {% endif %}
              </span>
              {% if section.settings.display_savings %}
                <span class="sale savings">
                  {% if variant.price < variant.compare_at_price and variant.available %}
                    {{ 'products.product.savings' | t }}
                    {{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}% (<span class="money">{{ variant.compare_at_price | minus: variant.price | money }}</span>)
                  {% endif %}
                </span>
              {% endif %}
            </p>
          {% endif %}

          <!-- START / Reviews --> 
          <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-title="{{ product.title }}" data-product-type="{{ product.type }}" style="display: block;"></span>
          <!-- End / Reviews --> 
                  
          <div class="divider"></div>
          

          {% if collection_handles contains 'coming-soon' %}
            {% elsif product.metafields.custom_fields["partners_platform"] != blank %}
              {% include 'components_buttons_partners' with 'product' %}
            {% else %}
              {% include 'product-form' with 'product' %}
          {% endif %}

          <!-- START / Value Proposition --> 
          <div class="cart__gift bg-contrast-lower radius-md padding-md flex flex-column flex items-left margin-bottom-md">              
            <div class="pill color-contrast-medium margin-bottom-xxs">
              <i class="icon--sm margin-right-xxs material-icons-outlined color-contrast-low">verified_user</i>
              <p>1-year limited warranty</p>
            </div>
            <div class="pill color-contrast-medium margin-bottom-xxs">
              <i class="icon--sm margin-right-xxs material-icons-outlined color-contrast-low">local_shipping</i>
              <p>FREE shipping and FREE returns</p>
            </div>
            <div class="pill color-contrast-medium margin-bottom-xxs">
              <i class="icon--sm margin-right-xxs material-icons-outlined color-contrast-low">monetization_on</i>
              <p class="affirm-as-low-as" data-page-type="product" data-amount="{{ variant.price }}" data-affirm-type="text" data-learnmore-show="true"></p>
            </div>
          </div>
          <!-- END / Value Proposition --> 
          
          {{ product.description }}

        </div>
      </div>
    </section>
    {% comment %}END / Overview {% endcomment %}



    {% comment %}START / Details{% endcomment %}
    <section id="features">

      {{product.metafields.shogun.above}}

      {% assign product-intro = product.metafields.custom_fields["product_intro_content_title"] | split: '|' %}
 
          {% include 'meta.product-intro' %}
          <div class="flex-100">
            {% if product.metafields.custom_fields["product_benefits"] != blank %}
              <div class="width-1-1 prod-desc mobile--true">
                <h3 class="margin-bottom-sm">Full Features</h3>
                {{ product.metafields.custom_fields["product_benefits"] }}
              </div>
              <div class="width-1-2 pr50 prod-desc mobile--false margin-bottom-md">
                <h3 class="margin-bottom-sm">Full Features</h3>
                {{ product.metafields.custom_fields["product_benefits"] }}
              </div>
            {% endif %}
            {% if product.metafields.custom_fields["product_benefits"] != blank %}
                {% include 'custom_fields.products.table_template' %}
            {% endif %}
          </div>
    </section>
    {% comment %}END / Details{% endcomment %}

  </div>
  {% comment %}END / Content{% endcomment %}

</main>
{% comment %}END / Page {% endcomment %}



{% comment %}START / Schema {% endcomment %}
{% schema %}
{
  "name": "Product_Flagship",
  "class": "product_flagship",
  "settings": [
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show price savings",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above product form"
        },
        {
          "value": "bottom",
          "label": "Below product form"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows on product gallery",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover"
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable product gallery popup",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_autoplay",
      "label": "Enable product gallery slideshow"
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Gallery transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Gallery position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product_thumbs",
      "label": "Show product gallery thumbnails",
      "default": true
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "default": "bottom-slider",
      "options": [
        {
          "value": "bottom-thumbnails",
          "label": "Bottom (grid)"
        },
        {
          "value": "bottom-slider",
          "label": "Bottom (slider)"
        },
        {
          "value": "left-thumbnails",
          "label": "Left"
        },
        {
          "value": "right-thumbnails",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product reviews"
    },
    {
      "type": "paragraph",
      "content": "Reviews app must be enabled. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360008549274#section2)"
    },
    {
      "type": "checkbox",
      "id": "enable_shopify_product_badges",
      "label": "Display star rating on product",
      "default": false
    },
    {
      "type": "radio",
      "id": "review_position",
      "label": "Reviews position",
      "default": "next_to_gallery",
      "options": [
        {
          "value": "next_to_gallery",
          "label": "In product description area"
        },
        {
          "value": "below_gallery",
          "label": "Below image\/description"
        }
      ]
    },
    {
      "type": "header",
      "content": "Dynamic checkout button"
    },
    {
      "type": "paragraph",
      "content": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": true
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products",
      "info": "[Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products)",
      "default": true
    },
    {
      "type": "radio",
      "id": "related_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "related_products_limit",
      "label": "Limit products",
      "min": 3,
      "max": 50,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "products_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Recently viewed products"
    },
    {
      "type": "paragraph",
      "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages. [Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228)"
    },
    {
      "type": "checkbox",
      "id": "display_recently_viewed",
      "label": "Show recently viewed products",
      "default": false
    },
    {
      "type": "text",
      "id": "rv_title",
      "label": "Title",
      "default": "Recently Viewed Items"
    },
    {
      "type": "radio",
      "id": "rv_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "rv_max_display",
      "label": "Products limit",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "rv_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recently_viewed",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages. [Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228)"
        },
        {
          "type": "text",
          "id": "sidebar_rv_title",
          "label": "Title",
          "default": "Recently Viewed"
        },
        {
          "type": "range",
          "id": "sidebar_rv_per",
          "label": "Products limit",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
            }
          ]
        },
        {
          "type": "filter_by_type",
          "name": "Type list",
          "limit": 1
        },
        {
          "type": "filter_by_vendor",
          "name": "Vendor list",
          "limit": 1
        }
      ],
      "default": {
        "settings": {
    
        }
      }
    }
{% endschema %}