<a name="pagecontent" id="pagecontent"></a>





<section class="fof">
  <div class="container max-width-sm flex flex-column align-center">

    {% include 'svg' with '404' %}



    <div class="text-component text-center margin-y-lg">
      <h1>{{ 'general.404.title' | t }}</h1>
      <p>{{ 'general.404.subtext' | t }}</p>
      <p class="extra_padding">
        {{ 'general.404.continue_shopping_html' | t }}
      </p>

      <form class="search" action="/search">
        <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}"  value="{{ search.terms }}" />
      </form>

    </div>

  </div>
</section>




{% include 'SEOManager-404' %}<script id="esc-redirects-404-script" src="https://redirects.eastsideco.io/js/app.js"></script>